<div th:fragment="stylesheets-backend">
    <style>
        .select2-results__option,.select2-selection__rendered {
            font-size: 0.76rem;
        }
        button{ cursor: pointer
        }
        .table td {
            padding-right: 0.75rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right !important;
            text-align: left !important;
            padding-left: 3px;
            padding-right: 75px;
        }

        .lbl-src {
            font-size: 12px;
        }

        .panel-custom {
            overflow-x: hidden !important;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: right !important;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Invoice HR dan AP Pilot</li>
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="exportXls()"><i class="fas fa-file-excel"></i>&nbsp;Xls</button>
<!--                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="generatePDF()"><i class="icon-docs"></i> &nbsp;Pdf</button>-->

            </div>
        </li>
    </ol>
    <div id="edit-reverse-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pStatusInvoice">Status Invoice</label>
                        <select id="pStatusInvoice" class="form-control" required="required">
                            <option value=""></option>
                            <option id="option-input" value="1">INPUT DATA</option>
                            <option id="option-siap" value="2">SIAP BAYAR</option>
                            <option id="option-lunas" value="3">LUNAS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pKeteranganStatus">Keterangan:</label>
                        <input type="text" class="form-control" id="pKeteranganStatus" required="required"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Submit</button>
                </div>
            </div>

        </div>
    </div>


    <div id="detail-rekap-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Form Rekapitulasi Pembayaran</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pJenisTagihan2"><span style="color: red">*)</span>&nbsp;Jenis Tagihan:</label>
                                <select id="pJenisTagihan2" class="form-control" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pTipeTransaksi2"><span style="color: red">*)</span>&nbsp;Tipe
                                    Transaksi:</label>
                                <select id="pTipeTransaksi2" onChange="selectTipeTransaksi(this.value);" class="form-control" required="required">
                                    <option value="1">OPERASI</option>
                                    <option value="2">INVESTASI</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pJenisPemabayaran2"><span style="color: red">*)</span>&nbsp;Jenis
                                    Pembayaran:</label>
                                <select id="pJenisPemabayaran2" class="form-control"
                                        onChange="selectJenisPembayaran(this.value);" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pTglJatuhTempo2">Tanggal Jatuh
                                    Tempo:</label>
                                <input type="text" class="form-control" id="pTglJatuhTempo2" required="required" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pVendor2"><span style="color: red">*)</span>&nbsp;Vendor/Pengembang/Pemasok/Loan:</label>
                                <select id="pVendor2" class="form-control" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pUnitAnggaran2"><span style="color: red">*)</span>&nbsp;Unit Anggaran:</label>
                                <select id="pUnitAnggaran2" class="form-control"
                                        onChange="selectUnitAnggaran(this.value);" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pPosAnggaran2"><span style="color: red">*)</span>&nbsp;Pos Anggaran:</label>
                                <select id="pPosAnggaran2" class="form-control"
                                        onChange="selectPosAnggaran(this.value);" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pSubPosAnggaran2"><span style="color: red">*)</span>&nbsp;Sub Pos Anggaran:</label>
                                <select id="pSubPosAnggaran2" class="form-control"
                                        onChange="selectSubPosAnggaran(this.value);" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pNilaiAnggaran2">&nbsp;Nilai Anggaran :</label>
                                <input type="text" class="form-control" id="pNilaiAnggaran2" disabled="disabled"  style="background-color: white" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="pCurrecny2"><span style="color: red">*)</span>&nbsp;Currency:</label>
                                <select id="pCurrecny2" onChange="selectCurrency(this.value);" class="form-control" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pNilaiTagihan2"><span style="color: red">*)</span>&nbsp;Nilai
                                    Tagihan:</label>
                                <input type="number" onInput="selectNilaiTagihan(this.value);" class="form-control" id="pNilaiTagihan2" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pSisaAnggaran2">&nbsp;Sisa Anggaran:</label>
                                <input type="text" class="form-control" id="pSisaAnggaran2" disabled="disabled" style="background-color: white"/>
                            </div>
                            <div class="form-group">
                                <label for="pBankTujuan2"><span style="color: red">*)</span>&nbsp;Bank Tujuan
                                    Pembayaran:</label>
                                <select id="pBankTujuan2" class="form-control" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>

                            <!---->
                            <div class="form-group">
                                <label for="pNominalSebelumPajak">&nbsp;Nominal Sebelum Pajak:</label>
                                <input type="text" class="form-control" id="pNominalSebelumPajak" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pPajak">&nbsp;Pajak (%):</label>
                                <input type="text" class="form-control" id="pPajak"/>
                            </div>
                            <div class="form-group">
                                <label for="pNominalSetelahPajak">&nbsp;Nominal Setelah Pajak:</label>
                                <input type="text" class="form-control" id="pNominalSetelahPajak" disabled="disabled" style="background-color: white"/>
                            </div>
                            <div class="form-group">
                                <label for="pNominalUnderlying">&nbsp;Nominal Underlying:</label>
                                <input type="text" class="form-control" id="pNominalUnderlying"/>
                            </div>
                            <div class="form-group">
                                <label for="pNominalTanpaUnderlying">&nbsp;Nominal Tanpa Underlying:</label>
                                <input type="text" class="form-control" id="pNominalTanpaUnderlying"/>
                            </div>
                            <div class="form-group">
                                <label for="pKursJisdor">&nbsp;Kurs Jisdor:</label>
                                <input type="text" class="form-control" id="pKursJisdor"/>
                            </div>
                            <div class="form-group">
                                <label for="pSpread">&nbsp;Spread:</label>
                                <input type="text" class="form-control" id="pSpread" required="required"/>
                            </div>
                            <!---->
                            <div class="form-group" style="margin-top: 40px">
                                <label >Ket : <span style="color: red">*) Tidak Boleh Kosong</span>&nbsp;</label><br/>
                                <label>Gunakan titik (.) untuk koma (,)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pBankPembayar"><span style="color: red">*)</span>&nbsp;Bank
                                    Pembayar:</label>
                                <select id="pBankPembayar" class="form-control" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pUnitPenerima"><span style="color: red">*)</span>&nbsp;Nama
                                    Kontrak/Loan/Unit
                                    Penerima/Pembangkit:</label>
                                <select id="pUnitPenerima" class="form-control" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pTglTerimaInvoice"><span style="color: red">*)</span>&nbsp;Tanggal Tagihan
                                    Diterima:</label>
                                <input type="text" class="form-control" id="pTglTerimaInvoice" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pTglTagihan">Tanggal Tagihan:</label>
                                <input type="text" class="form-control" id="pTglTagihan" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pNoTagihan">No Tagihan:</label>
                                <input type="text" class="form-control" list="data-no-tagihan" autocomplete="on" name="pNoTagihan"
                                       id="pNoTagihan"/>
                                <datalist id="data-no-tagihan"></datalist>
                            </div>
                            <div class="form-group">
                                <label for="pNoNotaDinas">No Nota Dinas:</label>
                                <input type="text" class="form-control" id="pNoNotaDinas"/>
                            </div>
                            <div class="form-group">
                                <label for="pTglNotaDinas">Tanggal Nota Dinas:</label>
                                <input type="text" class="form-control" id="pTglNotaDinas" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pKeterangan">Keterangan:</label>
                                <input type="text" class="form-control" id="pKeterangan" list="data-keterangan"/>
                                <datalist id="data-keterangan"></datalist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ins_data()">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <div id="hide_column_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Tampilkan Column</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="padding-left: 50px">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check_all"/>
                            <label class="form-check-label" for="check_all">Check All</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="NOMOR" data-column="0"/>
                            <label class="form-check-label" for="NOMOR">NO</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="KET" data-column="1"/>
                            <label class="form-check-label" for="KET">JENIS TAGIHAN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="COMP_CODE" data-column="2"/>
                            <label class="form-check-label" for="COMP_CODE">COMPANY CODE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="DOC_NO" data-column="3"/>
                            <label class="form-check-label" for="DOC_NO">DOCUMENT NO</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="GROUP_ID" data-column="4"/>
                            <label class="form-check-label" for="GROUP_ID">GROUP ID</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="OSS_ID" data-column="5"/>
                            <label class="form-check-label" for="OSS_ID">OSS ID</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="FISC_YEAR" data-column="6"/>
                            <label class="form-check-label" for="FISC_YEAR">FISCAL YEAR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="DOC_TYPE" data-column="7"/>
                            <label class="form-check-label" for="DOC_TYPE">DOCUMENT TYPE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="DOC_DATE" data-column="8"/>
                            <label class="form-check-label" for="DOC_DATE">DOCUMENT DATE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="POST_DATE" data-column="9"/>
                            <label class="form-check-label" for="POST_DATE">POSTING DATE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="ENTRY_DATE" data-column="10"/>
                            <label class="form-check-label" for="ENTRY_DATE">ENTRY DATE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REFERENCE" data-column="11"/>
                            <label class="form-check-label" for="REFERENCE">REFERENCE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REV_WITH" data-column="12"/>
                            <label class="form-check-label" for="REV_WITH">REVERSE WITH</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REV_YEAR" data-column="13"/>
                            <label class="form-check-label" for="REV_YEAR">REVERSE YEAR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="DOC_HDR_TXT" data-column="14"/>
                            <label class="form-check-label" for="DOC_HDR_TXT">DOCUMENT HDR TXT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="CURRENCY" data-column="15"/>
                            <label class="form-check-label" for="CURRENCY">CURRENCY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="CURR_BAYAR" data-column="16"/>
                            <label class="form-check-label" for="CURR_BAYAR">CURRENCY BAYAR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="EXCH_RATE" data-column="17"/>
                            <label class="form-check-label" for="EXCH_RATE">EXCHANGE RATE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REFERENCE_KEY" data-column="18"/>
                            <label class="form-check-label" for="REFERENCE_KEY">REFERENCE KEY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="PMT_IND" data-column="19"/>
                            <label class="form-check-label" for="PMT_IND">PAYMENT INDIKATOR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="TRANS_TYPE" data-column="20"/>
                            <label class="form-check-label" for="TRANS_TYPE">TRANSACTION TYPE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="SPREAD_VAL" data-column="21"/>
                            <label class="form-check-label" for="SPREAD_VAL">SPREAD VALUE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="LINE_ITEM" data-column="22"/>
                            <label class="form-check-label" for="LINE_ITEM">LINE ITEM</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="OI_IND" data-column="23"/>
                            <label class="form-check-label" for="OI_IND">OPEN ITEM INDIKATOR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="ACCT_TYPE" data-column="24"/>
                            <label class="form-check-label" for="ACCT_TYPE">ACCOUNT TYPE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="SPEC_GL" data-column="25"/>
                            <label class="form-check-label" for="SPEC_GL">SPEC GL</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="BUS_AREA" data-column="26"/>
                            <label class="form-check-label" for="BUS_AREA">BUSINESS AREA</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="TPBA" data-column="27"/>
                            <label class="form-check-label" for="TPBA">TRADING PARTNER BUSINESS AREA</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMT_LC" data-column="28"/>
                            <label class="form-check-label" for="AMT_LC">AMOUNT IN LOCAL CURRENCY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMT_TC" data-column="29"/>
                            <label class="form-check-label" for="AMT_TC">AMOUNT IN TRANSACTION CURRENCY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMT_WITH_BASE_TC" data-column="30"/>
                            <label class="form-check-label" for="AMT_WITH_BASE_TC">AMOUNT WITH HOLDING BASE TC</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMT_WITH_TC" data-column="31"/>
                            <label class="form-check-label" for="AMT_WITH_TC">AMOUNT WITH HOLDING TC</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMOUNT" data-column="32"/>
                            <label class="form-check-label" for="AMOUNT">AMOUNT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMOUNT_BAYAR" data-column="33"/>
                            <label class="form-check-label" for="AMOUNT_BAYAR">AMOUNT BAYAR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="ASSIGNMENT" data-column="34"/>
                            <label class="form-check-label" for="ASSIGNMENT">ASSIGNMENT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="ITEM_TEXT" data-column="35"/>
                            <label class="form-check-label" for="ITEM_TEXT">ITEM TEXT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="COST_CTR" data-column="36"/>
                            <label class="form-check-label" for="COST_CTR">COST CENTER</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="GL_ACCT" data-column="37"/>
                            <label class="form-check-label" for="GL_ACCT">GL ACCOUNT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="CUSTOMER_NAME" data-column="38"/>
                            <label class="form-check-label" for="CUSTOMER_NAME">CUSTOMER</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="VENDOR_NAME" data-column="39"/>
                            <label class="form-check-label" for="VENDOR_NAME">VENDOR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="BASE_DATE" data-column="40"/>
                            <label class="form-check-label" for="BASE_DATE">BASE DATE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="TERM_PMT" data-column="41"/>
                            <label class="form-check-label" for="TERM_PMT">TERM OF PAYMENT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="DUE_ON" data-column="42"/>
                            <label class="form-check-label" for="DUE_ON">DUE ON</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="PMT_BLOCK" data-column="43"/>
                            <label class="form-check-label" for="PMT_BLOCK">PAYMENT BLOCK</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="HOUSE_BANK" data-column="44"/>
                            <label class="form-check-label" for="HOUSE_BANK">HOUSE BANK</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="NO_REK_HOUSE_BANK" data-column="45"/>
                            <label class="form-check-label" for="NO_REK_HOUSE_BANK">NO REK HOUSE BANK</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="PRTNR_BANK_TYPE" data-column="46"/>
                            <label class="form-check-label" for="PRTNR_BANK_TYPE">PARTNER BANK TYPE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="BANK_KEY" data-column="47"/>
                            <label class="form-check-label" for="BANK_KEY">BANK KEY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="BANK_ACCOUNT" data-column="48"/>
                            <label class="form-check-label" for="BANK_ACCOUNT">BANK ACCOUNT</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="ACCOUNT_HOLDER" data-column="49"/>
                            <label class="form-check-label" for="ACCOUNT_HOLDER">ACCOUNT HOLDER</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="NAMA_BENEF" data-column="50"/>
                            <label class="form-check-label" for="NAMA_BENEF">NAMA BENEFICIARY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="NO_REK_BENEF" data-column="51"/>
                            <label class="form-check-label" for="NO_REK_BENEF">NO REK BENEFICIARY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="BANK_BENEF" data-column="52"/>
                            <label class="form-check-label" for="BANK_BENEF">BANK BENEFICIARY</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="PO_NUM" data-column="53"/>
                            <label class="form-check-label" for="PO_NUM">PO NUMBER</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="PO_ITEM" data-column="54"/>
                            <label class="form-check-label" for="PO_ITEM">PO ITEM</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REF_KEY1" data-column="55"/>
                            <label class="form-check-label" for="REF_KEY1">REFERENCE KEY 1</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REF_KEY2" data-column="56"/>
                            <label class="form-check-label" for="REF_KEY2">REFERENCE KEY 2</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REF_KEY3" data-column="57"/>
                            <label class="form-check-label" for="REF_KEY3">REFERENCE KEY 3</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="INT_ORDER" data-column="58"/>
                            <label class="form-check-label" for="INT_ORDER">INTERNAL ORDER</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="WBS_NUM" data-column="59"/>
                            <label class="form-check-label" for="WBS_NUM">WBS NUMBER</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="CASH_CODE" data-column="60"/>
                            <label class="form-check-label" for="CASH_CODE">CASH CODE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="DR_CR_IND" data-column="61"/>
                            <label class="form-check-label" for="DR_CR_IND">DEBIT CREDIT INDIKATOR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="PARTIAL_IND" data-column="62"/>
                            <label class="form-check-label" for="PARTIAL_IND">PARTIAL INDIKATOR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMT_WITH_BASE_LC" data-column="63"/>
                            <label class="form-check-label" for="AMT_WITH_BASE_LC">AMOUNT WITH HOLDING BASE LC</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="AMT_WITH_LC" data-column="64"/>
                            <label class="form-check-label" for="AMT_WITH_LC">AMOUNT WITH HOLDING LC</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="METODE_PEMBAYARAN" data-column="65"/>
                            <label class="form-check-label" for="METODE_PEMBAYARAN">METODE PEMBAYARAN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="NO_GIRO" data-column="66"/>
                            <label class="form-check-label" for="NO_GIRO">NO GIRO</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="TGL_TAGIHAN_DITERIMA" data-column="67"/>
                            <label class="form-check-label" for="TGL_TAGIHAN_DITERIMA">TGL TERIMA TAGIHAN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="TGL_RENCANA_BAYAR" data-column="68"/>
                            <label class="form-check-label" for="TGL_RENCANA_BAYAR">TGL RENCANA BAYAR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="SUMBER_DANA" data-column="69"/>
                            <label class="form-check-label" for="SUMBER_DANA">SUMBER DANA</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="KETERANGAN" data-column="70"/>
                            <label class="form-check-label" for="KETERANGAN">KETERANGAN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="STATUS_TRACKING" data-column="71"/>
                            <label class="form-check-label" for="STATUS_TRACKING">STATUS TRACKING</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input checkbox-toggle" type="checkbox" id="REF_NUM_BANK" data-column="72"/>
                            <label class="form-check-label" for="REF_NUM_BANK">REFERENCE NUMBER BANK</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveColumn()">Simpan</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <div id="filter">
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
                    <div class="col-md-4 form-group" style="padding-right: 0px;">
                        <label class="lbl-src">Tanggal Rencana Bayar </label>
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="Dari.." type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px !important;">
                                <input placeholder="Ke.." type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 form-group" style="padding-right: 0px;">
                        <label class="lbl-src">House Bank </label>
                        <select name="bank" id="cmb_bank" class="form-control select2" style="border-radius: 5px !important; font-size: 0.8rem !important;">

                        </select>
                    </div>

                    <div class="col-md-2 form-group" style="padding-right: 0px;">
                        <label class="lbl-src">Currency Bayar</label>
                        <select name="bacurrecnynk" id="cmb_currecny" class="form-control select2" style="border-radius: 5px !important; font-size: 0.72rem !important;">
                            <option value="ALL">SEMUA CURRENCY</option>
                            <option value="AUD">AUD</option>
                            <option value="CHF">CHF</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="IDR">IDR</option>
                            <option value="JPY">JPY</option>
                            <option value="MYR">MYR</option>
                            <option value="SGD">SGD</option>
                            <option value="THB">THB</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>

                    <div class="col-md-2 form-group" style="padding-right: 0px;">
                        <label class="lbl-src">Metode Bayar</label>
                        <select name="carabayar" id="cmb_cara_pembayaran" class="form-control select2" style="border-radius: 5px !important; font-size: 0.8rem">
                            <option value="ALL">SEMUA METODE</option>
                            <option value="GIRO">GIRO</option>
                            <option value="INTERNETBANKING">INTERNET BANKING</option>
                            <option value="INHOUSE">IN HOUSE</option>
                            <option value="ONLINETRANSFER">ONLINE TRANSFER</option>
                            <option value="RTGS">RTGS</option>
                            <option value="KLIRING">KLIRING</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group" style="padding-right: 0px;">
                        <label style="visibility: hidden">Label Submit</label>
                        <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                    </div>
                </div>
            </div>
            <div class="list-data" style="margin-top:25px;">
                <div class="panel panel-default">
                    <div class="panel-body panel-custom">
                        <table id="table-rekapitulasi" class="table table-condensed">
                            <thead style="font-size: 12px">
                            <tr>
                                <th>NO</th>
                                <th>JENIS TAGIHAN</th>
                                <th>COMPANY CODE</th>
                                <th>DOCUMENT NO</th>
                                <th>GROUP ID</th>
                                <th>OSS ID</th>
                                <th>FISCAL YEAR</th>
                                <th>DOCUMENT TYPE</th>
                                <th>DOCUMENT DATE</th>
                                <th>POSTING DATE</th>
                                <th>ENTRY DATE</th>
                                <th>DOCUMENT HDR TXT</th>
                                <th>CURRENCY</th>
                                <th>CURRENCY BAYAR</th>
                                <th>REFERENCE</th>
                                <th>EXCHANGE RATE</th>
                                <th>PAYMENT INDIKATOR</th>
                                <th>TRANSACTION TYPE</th>
                                <th>SPREAD VALUE</th>
                                <th>LINE ITEM</th>
                                <th>BUSINESS AREA</th>
                                <th style="width: 7rem !important;">AMOUNT IN LOCAL CURRENCY</th>
                                <th>AMOUNT IN TRANSACTION CURRENCY</th>
                                <th width="7rem">AMOUNT WITH HOLDING TC</th>
                                <th>AMOUNT</th>
                                <th>AMOUNT BAYAR</th>
                                <th>ASSIGNMENT</th>
                                <th>ITEM TEXT</th>
                                <th>CUSTOMER</th>
                                <th>VENDOR</th>
                                <th>PAYMENT BLOCK</th>
                                <th>HOUSE BANK</th>
                                <th>NO REK HOUSE BANK</th>
                                <th>PARTNER BANK TYPE</th>
                                <th>BANK KEY</th>
                                <th>BANK ACCOUNT</th>
                                <th>ACCOUNT HOLDER</th>
                                <th>NAMA BENEFICIARY</th>
                                <th>NO REKENENING BENEFICIARY</th>
                                <th>BANK BENEFICIARY</th>
                                <th>CASH CODE</th>
                                <th>DEBIT/CREDIT INDIKATOR</th>
                                <th>PARTIAL INDIKATOR</th>
                                <th>AMOUNT WITH BASE LC</th>
                                <th>AMOUNT WITH BASE TC</th>
                                <th>TGL TAGIHAN DITERIMA</th>
                                <th>TGL RENCANA BAYAR</th>
                                <th>SUMBER DANA</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <div id="total_per_currency" class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/pilot/rekapInvoiceHrAp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--<script src="static/js/jquery.mask.min.js"></script>-->
</div>