<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 11px;
            vertical-align: middle
        }

        td {
            font-size: 10px;
        }

        td, th {
            padding: 2px !important;
        }
        .carousel-control{
            width : 8% !important;
        }
    </style>
</div>
<div style="margin-top: -15px;min-height: 400px" class="app-body col-md-12" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="col-md-12">
            <div align="center" class="title"><h5><b>DASHBOARD LIKUIDITAS VALUTA ASING IMPREST &amp; GLOBAL BOND TGL : <span id="tglcetak">-</span></b></h5></div>
        </div>
        <div class="col-md-12" style="padding-top: 15px;">
            <div class="view-table">
                <table id="table-imprst-valas" class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="background-color: #67a2d8" width="15%">BANK</th>
                        <th style="background: #91e491" width="20%">USD</th>
                        <th style="background: #f5926d" width="20%">EUR</th>
                        <th style="background: #c0a4fd" width="20%">JPY</th>
                        <th style="background: #cee491" width="20%">USD GLOBAL BOND</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div id="imprst-carousel" style="min-height: 400px;" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" align="center">
                        <div id="chart-USD-imprst-valas"></div>
                    </div>

                    <div class="item" align="center">
                        <div id="chart-EUR-imprst-valas"></div>
                    </div>

                    <div class="item" align="center">
                        <div id="chart-JPY-imprst-valas"></div>
                    </div>

                    <div class="item" align="center">
                        <div id="chart-USD-global-bond"></div>
                    </div>
                </div>
                <a class="left carousel-control" href="#imprst-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#imprst-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/verifikator/imprst_valas_and_global_bond.js"></script>
</div>