<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 11px;
            vertical-align: middle
        }

        td {
            font-size: 10px;
        }

        td, th {
            padding: 2px !important;
        }
        .carousel-control{
            width : 8% !important;
        }
    </style>
</div>
<div style="margin-top: -15px;min-height: 400px" class="app-body col-md-12" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="col-md-12">
            <div align="center" class="title"><h5><b>Realisasi Pembayaran - Cashcode (10 Besar)<span></span></b></h5></div>
            <div align="center" class="title"><h5><b>TGL : <span id="tglcetak">-</span></b></h5></div>
        </div>

        <div id="filter">
            <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
                <div class="col-md-1" style="padding-right: 0px;">
                    <label class="lbl-src">Tanggal Awal </label>
                </div>
                <div class="col-md-3" style="padding-right: 0px;">
                    <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                </div>
                <div class="col-md-1" style="padding-right: 0px;">
                    <label class="lbl-src">Tanggal Akhir </label>
                </div>
                <div class="col-md-3" style="padding-right: 0px;">
                    <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                </div>
                <div class="col-md-1" style="padding-right: 0px;">
                    <label class="lbl-src">Bank </label>
                </div>
                <div class="col-md-3" style="padding-right: 0px;">
                    <select name="bank" id="cmb_bank" class="form-control">
                        <option value="ALL">SELURUH BANK</option>
                        <option value="BNI">BANK BNI</option>
                        <option value="BRI">BANK BRI</option>
                        <option value="MANDIRI">BANK MANDIRI</option>
                        <option value="BUKOPIN">BANK BUKOPIN</option>
                        <option value="BCA">BANK BCA</option>
                        <option value="BANK NEGARA INDONESIA">BANK NEGARA INDONESIA</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;padding-top: 15px;">
                <div class="col-md-1" style="padding-right: 0px;">
                    <label class="lbl-src">Cash Code </label>
                </div>
                <div class="col-md-3" style="padding-right: 0px;">
                    <select name="cashcode" id="cmb_cashcode" class="form-control">
                        <option value="ALL">SELURUH CASH CODE</option>
                        <option value="0">0</option>
                        <option value="1.5.1">1.5.1</option>
                        <option value="1.6.3">1.6.3</option>
                        <option value="1.7.1">1.7.1</option>
                        <option value="1.7.3.1">1.7.3.1</option>
                        <option value="1.7.4.2">1.7.4.2</option>
                        <option value="1.7.6.2.9">1.7.6.2.9</option>
                        <option value="1.9">1.9</option>
                        <option value="2.3">2.3</option>
                        <option value="3.8">3.8</option>
                    </select>
                </div>
                <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                <div class="col-md-3" style="padding-right: 0px;">
                    <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-top: 15px;">
            <div class="view-table">
                <table id="table-imprst-valas" class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="background: #91e491" width="4%">NO</th>
                        <th style="background: #91e491" width="16.666%">VENDOR</th>
                        <th style="background: #f5926d" width="16.666%">BANK PEMBAYARAN</th>
                        <th style="background: #c0a4fd" width="16.666%">CURR</th>
                        <th style="background: #2ccab5" width="16.666%">ORIGINAL CURR</th>
                        <th style="background: #2ccab5" width="16.666%">EQ IDR</th>
                        <th style="background: #2ccab5" width="16.666%">CASH CODE</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/verifikator/saldo_rekening_valuta_asing.js"></script>
</div>