<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 11.5px;
            vertical-align: middle
        }

        td {
            font-size: 10.5px;
        }

        td, th {
            padding: 3px !important;
        }

        .carousel-control {
            width: 6% !important;
        }
    </style>
</div>
<div class="app-body col-md-12" th:fragment="content" style="min-height: 400px; margin-top: -12px;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row col-md-12">
        <div align="center" class="title">
            <h6>
                <b>REALISASI PEMBELIAN VALUTA ASING</b>
                <select name="year-search" id="year-search"  onchange="search(this.value);">
                </select>
            </h6>
        </div>
        <div class="col-md-12" style="padding-right: 0px;" align="right">
            <div id="table-carousel" style="min-height: 80px;" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" align="center">
                        <div align="center" class="title"><h6>
                            <b>PEMBELIAN <span id="date-harian">HARIAN</span></b>
                        </h6>
                        </div>
                        <div class="view-table" style="padding-left: 8%;padding-right: 8%;">
                            <table width="100%" id="table-pembelian-harian" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="vertical-align: middle; background-color: #67a2d8" width="25%">BANK</th>
                                    <th style="background: #91e491" width="25%">USD</th>
                                    <th style="background: #f5926d" width="25%">JPY</th>
                                    <th style="background: #c0a4fd" width="25%">EUR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="4" align="center"> No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="item" align="center">
                        <div align="center" class="title"><h6><b>PEMBELIAN <span id="date-rekap">REKAP</span></b></h6>
                        </div>
                        <div class="view-table" style="padding-left: 8%;padding-right: 8%;">
                            <table width="100%" id="table-pembelian-rekap" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="vertical-align: middle; background-color: #67a2d8" width="25%">BANK</th>
                                    <th style="background: #91e491" width="25%">USD</th>
                                    <th style="background: #f5926d" width="25%">JPY</th>
                                    <th style="background: #c0a4fd" width="25%">EUR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="4" align="center"> No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#table-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#table-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="padding-right: 0px;" align="right">
            <div id="chart-carousel" style="min-height: 465px;" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" align="center">
                        <div align="center" id="chart-harian"></div>
                    </div>
                    <div class="item" align="center">
                        <div align="center" id="chart-rekap"></div>
                    </div>
                </div>
                <a class="left carousel-control" href="#chart-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#chart-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/verifikator/realisasi_pembelian_valuta_asing.js"></script>
</div>