<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 11px;
            vertical-align: middle
        }

        td {
            font-size: 10.5px;
        }

        td, th {
            padding: 3px !important;
        }

        .carousel-control {
            width: 6% !important;
        }

        ​
    </style>
</div>
<div class="app-body col-md-12" th:fragment="content" style="min-height: 400px; margin-top: -12px;"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div align="center" class="title">
        <h6>
            <b>REALISASI PEMBAYARAN VALUTA ASING</b> &nbsp;
            <select name="year-search" onchange="search(this.value);" id="year-search">
            </select>
        </h6>
    </div>
    <div id="table-carousel" style="min-height: 660px;" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" align="center">
                <div align="center" class="title"><h6><b>PEMBAYARAN <span id="date-harian">HARIAN</span></b>
                </h6></div>
                <div class="view-table" >
                    <table width="100%" id="table-pembayaran-harian" class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle; background-color: #67a2d8" width="10%">JENIS PEMBAYARAN
                            </th>
                            <th style="background: #91e491" width="10%">USD</th>
                            <th style="background: #f5926d" width="10%">JPY</th>
                            <th style="background: #c0a4fd" width="10%">EUR</th>
                            <th style="background: #c0a4fd" width="10%">IDR</th>
                            <th style="background: #c0a4fd" width="10%">GBP</th>
                            <th style="background: #c0a4fd" width="10%">AUD</th>
                            <th style="background: #c0a4fd" width="10%">MYR</th>
                            <th style="background: #c0a4fd" width="10%">KRW</th>
                            <th style="background: #c0a4fd" width="10%">EQ IDR</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="10" align="center"> No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="item" align="center">
                <div align="center" class="title"><h6><b>PEMBAYARAN <span id="date-rekap">REKAP</span></b></h6>
                </div>
                <div class="view-table" >
                    <table width="100%" id="table-pembayaran-rekap" class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle; background-color: #67a2d8" width="10%">JENIS PEMBAYARAN
                            </th>
                            <th style="background: #91e491" width="10%">USD</th>
                            <th style="background: #f5926d" width="10%">JPY</th>
                            <th style="background: #c0a4fd" width="10%">EUR</th>
                            <th style="background: #c0a4fd" width="10%">IDR</th>
                            <th style="background: #c0a4fd" width="10%">GBP</th>
                            <th style="background: #c0a4fd" width="10%">AUD</th>
                            <th style="background: #c0a4fd" width="10%">MYR</th>
                            <th style="background: #c0a4fd" width="10%">KRW</th>
                            <th style="background: #c0a4fd" width="10%">EQ IDR</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="10" align="center"> No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="item active" align="center">
                <div align="center" id="chart-harian"></div>
            </div>
            <div class="item" align="center">
                <div align="center" id="chart-rekap"></div>
            </div>
        </div>
        <!--<a class="left carousel-control" href="#table-carousel" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#table-carousel" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--<span class="sr-only">Next</span>-->
        <!--</a>-->
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/verifikator/realisasi_pembayaran_valuta_asing.js"></script>
</div>