<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 11px;
            vertical-align: middle
        }
        td{font-size: 10px; vertical-align: middle !important; }

        td, th {
            padding: 1px !important;
        }
        .title-table-new{
            font-size: 9px;
        }
    </style>
</div>
<div class="app-body col-md-12" style="min-height: 400px" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="col-md-6 title row"><h6><b>RENCANA PEMBAYARAN VALUTA ASING MINGGUAN - BANK (CURRENCY EUR &amp; OTHERS)</b></h6></div>
        <div class="col-md-6 row" align="right" style="margin-left: 45px;">
            <input type="text" id="search-rencana-bayar-eur-others"/> &nbsp;<button style="padding: 2px 4px 2px 4px !important;" class="btn btn-default" onclick="search()">Cari</button>
        </div>
        <div class="view-table" id="div-table-main" style="width:100%; height:690px; overflow:auto;">
            <table width="100%" id="table-main" class="table table-bordered" style="margin-bottom: 0px !important;">
                <thead>
                <tr>
                    <th width="8%" style="vertical-align: middle !important;background: #a5bfff;" rowspan="2">TANGGAL</th>
                    <th width="10%" style="vertical-align: middle !important;background: #a5bfff;" rowspan="2">KETERANGAN</th>
                    <th style="background: #f5926d" width="9.5" colspan="4">EUR</th>
                    <th style="background: #c0a4fd" width="9.5%;" rowspan="2">GBP</th>
                    <th style="background: #c0a4fd" rowspan="2" width="9.5%;">AUD</th>
                    <th style="background: #c0a4fd" rowspan="2" width="9.5%;">MYR</th>
                    <th style="background: #c0a4fd" rowspan="2" width="9.5%;">KRW</th>
                    <tr>
                        <th style="background: #f5926d" width="9.5%;">MANDIRI</th>
                        <th style="background: #f5926d" width="9.5%;">BRI</th>
                        <th style="background: #f5926d" width="9.5%;">BNI</th>
                        <th style="background: #f5926d" width="9.5%;">BUKOPIN</th>
                    </tr>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/verifikator/rencana_bayar_valuta_asing_mingguan_eur_others.js"></script>
</div>