<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet"/>
    <link href="/static/css/frontend/login.css" rel="stylesheet"/>
    <link rel="icon" href="/static/images/tab-icon.png"/>
    <style>
        body{
            background: rgba(187, 234, 234, 1) !important;
            font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif !important;
        }
    </style>
</head>
<body>
<div style="display: none" class="col-md-12" id="loader-div" align="center"><div id="loader"></div></div>
<div class="app-body">
    <div id="screen-saver" align="center">
        <div><img style="width: 35%;margin-top: 100px; margin-bottom: 20px;" src="/static/images/lg-login.png" alt=""/></div>
        <i style="font-family: Consolas, monospace"><H4>Liquidity Monitoring And Transcation Application</H4></i>
        <div>
            <button class="btn btn-success" onclick="back()" style="margin-top: 35px">Back</button>
        </div>
    </div>
</div>
<script src="/static/js/jquery-2.2.0.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/backend/coreapps.js"></script>
<script>
    function back() {
        window.history.back();
    }
</script>
</body>
</html>