<div th:fragment="stylesheets-backend">
    <style>
        button{ cursor: pointer
        }
        .table td {
            padding-right: 0.75rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right !important;
            text-align: left !important;
            padding-left: 3px;
            padding-right: 75px;
        }

        .right{
            align: right;
        }

        .lbl-src {
            font-size: 12px;
        }

        .panel-custom {
            overflow-x: hidden !important;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: right !important;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Anggaran</li>
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

            </div>
        </li>
    </ol>

    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <!--<div id="filter">-->
                <!--<div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">-->
                    <!--<div class="col-md-1" style="padding-right: 0px;">-->
                        <!--<label class="lbl-src">Unit Anggaran : </label>-->
                    <!--</div>-->
                    <!--<div class="col-md-3" style="padding-right: 0px;">-->
                        <!--<input type="text" style="border-radius: 5px" class="form-control" id="cmb_unitanggaran"/>-->
                    <!--</div>-->
                    <!--<div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>-->
                    <!--<div class="col-md-3" style="padding-right: 0px;">-->
                        <!--<button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="list-data" style="margin-top:25px;">
                <div class="panel panel-default">
                    <div class="panel-body panel-custom">
                        <table id="table-anggaran" class="table table-bordered table-striped" style="margin-left: 0px;">
                            <thead style="font-size: 12px">
                            <tr>
                                <th>N0.</th>
                                <th>TAHUN</th>
                                <th>UNIT</th>
                                <th>SUB POS ANGGARAN</th>
                                <th>PENETAPAN</th>
                                <th>TOTAL REALISASI</th>
                                <th>SISA ANGGARAN</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/anggaran.js"></script>

</div>