<div th:fragment="stylesheets-backend">
    <style>
        button{ cursor: pointer
        }
        .table td {
            padding-right: 0.75rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right !important;
            text-align: left !important;
            padding-left: 0px;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: right !important;
        }
        thead {
            font-size: 12px; !important;
        }
        tbody {
            font-size: 12px; !important;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Master Bank</li>
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="upload_xls()"><i class="icon-plus"></i>&nbsp;Input Xls</button>
            </div>
        </li>
    </ol>
    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <div class="list-data" style="margin-top:50px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="form">
                            <div class="form-group">
                                <label for="pKodeBank"><span style="color: red">*)</span>&nbsp;Kode Bank:</label>
                                <input type="text" class="form-control" id="pKodeBank" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pNamaBank"><span style="color: red">*)</span>&nbsp;Nama Bank:</label>
                                <input type="text" class="form-control" id="pNamaBank" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pJenis"><span style="color: red">*)</span>&nbsp;Jenis:</label>
                                <select id="pJenis" class="form-control" required="required">
                                    <option value="TUJUAN">TUJUAN</option>
                                    <option value="PENERIMA">PENERIMA</option>
                                    <option value="PENGIRIM">PENGIRIM</option>
                                    <option value="PEMBAYAR">PEMBAYAR</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pFlag"><span style="color: red">*)</span>&nbsp;Status:</label>
                                <select id="pFlag" class="form-control" required="required">
                                    <option value="1">TAMPIL</option>
                                    <option value="0">TIDAK TAMPIL</option>
                                </select>
                            </div>
                            <div align="right">
                                <button onclick="clearForm()" class="btn btn-warning">Clear Form</button>
                                <button onclick="submit()" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px">
                    <table id="table-main" class="table table-bordered table-striped" width="100%"
                           style="margin-right: 0px !important;">
                        <thead>
                        <tr>
                            <th width="20%">N0</th>
                            <th>KODE BANK</th>
                            <th width="20%">NAMA BANK</th>
                            <th>JENIS</th>
                            <th>STATUS</th>
                            <th>AKSI</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="detail-data" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="form-detail">
                            <div class="form-group">
                                <label for="pKodeBankDetail"><span style="color: red">*)</span>&nbsp;Kode Bank:</label>
                                <input type="text" class="form-control" id="pKodeBankDetail" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pNamaBankDetail"><span style="color: red">*)</span>&nbsp;Nama Bank:</label>
                                <input type="text" class="form-control" id="pNamaBankDetail" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pFlagDetail"><span style="color: red">*)</span>&nbsp;Status:</label>
                                <select id="pFlagDetail" class="form-control" required="required">
                                    <option value="1">TAMPIL</option>
                                    <option value="0">TIDAK TAMPIL</option>
                                </select>
                            </div>
                            <div align="right">
                                <button onclick="AddToTable()" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px">
                    <table id="table-main-detail" class="table table-bordered table-striped" width="100%"
                           style="margin-right: 0px !important;" >
                        <thead>
                        <tr>
                            <th>KODE BANK</th>
                            <th>NAMA BANK</th>
                            <th>JENIS</th>
                            <th>STATUS</th>
                            <th>AKSI</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center" colspan="5">No Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div align="right">
                    <button onclick="submitChild()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-upload-xls" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_modal_upload_xls">UPLOAD FILE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="input_file_xls">
                    <div class="form-group" style="display:none">
                        <input type="text" class="form-control" id="temp-xls"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">UPLOAD FILE XLS |
                            <a th:href="@{/api_master/template/2}" id="btn-download-template-data-bank">
                                Download Template
                            </a></label>
                        <input type="file" class="form-control" id="file-xls"
                               accept="application/vnd.ms-excel"/>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="upload_server_xls()">Selesai</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/master/bank.js"></script>
</div>