<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 13px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }
        table td {
            font-size: 12px;
            text-align: center;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Rencana</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: -25px; margin-bottom: 25px; min-height: 555px;">
                <div class="carousel">
                    <div class="carousel-inner">
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked"/>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div style="overflow-y:auto;">
                                                <div align="center"><h5><b>Rencana Pembayaran Imprest - Kantor Pusat (Rupiah)</b></h5></div>
                                                <table id="main-rupiah" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                    <thead>
                                                    <tr>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                        <th rowspan="2">KODE</th>
                                                        <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                    </tr>
                                                    <tr id="header-tanggal" style="vertical-align: middle !important;text-align: center">
                                                        <th id="tgl1a" ></th>
                                                        <th id="tgl2a" ></th>
                                                        <th id="tgl3a" ></th>
                                                        <th id="tgl4a" ></th>
                                                        <th id="tgl5a" ></th>
                                                        <th id="tgl6a" ></th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div style="overflow-y:auto;">
                                                <div align="center"><h5><b>Rencana Pembayaran Impor (Rupiah)</b></h5></div>
                                                <table id="main-rupiah2" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                    <thead>
                                                    <tr>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                        <th rowspan="2">KODE</th>
                                                        <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                    </tr>
                                                    <tr id="header-tanggal2" style="vertical-align: middle !important;text-align: center">
                                                        <th id="tgl1b" ></th>
                                                        <th id="tgl2b" ></th>
                                                        <th id="tgl3b" ></th>
                                                        <th id="tgl4b" ></th>
                                                        <th id="tgl5b" ></th>
                                                        <th id="tgl6b" ></th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div style="overflow-y:auto;">
                                                <div align="center"><h5><b>Rencana Pembayaran Imprest Operasi Terpusat  (Rupiah)</b></h5></div>
                                                <table id="main-rupiah3" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                    <thead>
                                                    <tr>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                        <th rowspan="2">KODE</th>
                                                        <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                    </tr>
                                                    <tr id="header-tanggal3" style="vertical-align: middle !important;text-align: center">
                                                        <th id="tgl1c" ></th>
                                                        <th id="tgl2c" ></th>
                                                        <th id="tgl3c" ></th>
                                                        <th id="tgl4c" ></th>
                                                        <th id="tgl5c" ></th>
                                                        <th id="tgl6c" ></th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div align="center"><h5><b>Rencana Pembayaran Imprest Investasi Terpusat (Rupiah)</b></h5></div>
                                            <table id="main-rupiah4" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                <thead>
                                                <tr>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                    <th rowspan="2">KODE</th>
                                                    <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                </tr>
                                                <tr id="header-tanggal4" style="vertical-align: middle !important;text-align: center">
                                                    <th id="tgl1d" ></th>
                                                    <th id="tgl2d" ></th>
                                                    <th id="tgl3d" ></th>
                                                    <th id="tgl4d" ></th>
                                                    <th id="tgl5d" ></th>
                                                    <th id="tgl6d" ></th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div align="center"><h5><b>Settlement</b></h5></div>
                                            <table id="main-rupiah5" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                <thead>
                                                <tr>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                    <th rowspan="2">KODE</th>
                                                    <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                </tr>
                                                <tr id="header-tanggal5" style="vertical-align: middle !important;text-align: center">
                                                    <th id="tgl1e" ></th>
                                                    <th id="tgl2e" ></th>
                                                    <th id="tgl3e" ></th>
                                                    <th id="tgl4e" ></th>
                                                    <th id="tgl5e" ></th>
                                                    <th id="tgl6e" ></th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div align="center"><h5><b>Proyeksi Pengadaan Valas</b></h5></div>
                                            <table id="main-rupiah6" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                <thead>
                                                <tr>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                    <th rowspan="2">KODE</th>
                                                    <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                </tr>
                                                <tr id="header-tanggal6" style="vertical-align: middle !important;text-align: center">
                                                    <th id="tgl1f" ></th>
                                                    <th id="tgl2f" ></th>
                                                    <th id="tgl3f" ></th>
                                                    <th id="tgl4f" ></th>
                                                    <th id="tgl5f" ></th>
                                                    <th id="tgl6f" ></th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <div align="center"><h5><b>Rencana Pembayaran Equivalent Rupiah</b></h5></div>
                                            <table id="main-rupiah7" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                                <thead>
                                                <tr>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                    <th rowspan="2">KODE</th>
                                                    <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                    <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                                </tr>
                                                <tr id="header-tanggal7" style="vertical-align: middle !important;text-align: center">
                                                    <th id="tgl1g" ></th>
                                                    <th id="tgl2g" ></th>
                                                    <th id="tgl3g" ></th>
                                                    <th id="tgl4g" ></th>
                                                    <th id="tgl5g" ></th>
                                                    <th id="tgl6g" ></th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">

                        </div>
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">

                        </div>
                        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-1" class="carousel-control next control-3">›</label>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/dashboard_rupiah.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
