<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 13px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }
        table td {
            font-size: 12px;
            font-weight: bold;
        }
        .btn {
            background-color: #ddd;
            border: none;
            color: black;
            padding: 10px 26px;
            text-align: center;
            font-size: 15px;
            cursor: pointer;
            margin: 2px 2px;
            transition: 0.3s;
            border-radius: 10px;
          }

          .btn:hover {
            background-color: #3e8e41;
            color: white;
          }

          div.a{
            visibility: visible;
          }

          div.b{
            visibility: hidden;
          }

          div.c{
            visibility: hidden;
          }

          div.d{
            visibility: hidden;
          }
          .wrapper {
                text-align: center;
            }
            .wrapper ul {
                display: inline-block;
                margin: 0;
                padding: 0;
                /* For IE, the outcast */
                zoom:1;
                *display: inline;
            }
            .wrapper li {
                float: left;
                padding: 2px 5px;
            }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Valas</li>
        <div align="right" style="color:#778899" class="title"><h7>Tanggal : <span id="tglcetak"></span></h7></div>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: -25px; margin-bottom: 25px; min-height: 555px;">
                <div class="carousel">
                    <div class="carousel-inner">
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked"/>
                        <div class="carousel-item">
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div class="col-md-12">
                                            <div align="center" class="title"><h5><b>SALDO REKENING VALUTA ASING<span></span></b></h5></div>
                                        </div>
                                        <div class="col-md-12" style="padding-top: 15px;">
                                            <div class="view-table">
                                                <table id="table-imprst-valas" class="table table-rencana-realisasi table-condensed table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th style="vertical-align: middle; text-align: center;" width="16.666%">BANK</th>
                                                        <th style="vertical-align: middle; text-align: center;" width="16.666%">USD</th>
                                                        <th style="vertical-align: middle; text-align: center;" width="16.666%">JPY</th>
                                                        <th style="vertical-align: middle; text-align: center;" width="16.666%">EUR</th>
                                                        <th style="vertical-align: middle; text-align: center;" width="16.666%">MYR</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 50px" align="center">
                                            <div id="chart-USD-imprst-valas" class="a" style="height: 35rem; width: 100%;"></div>
                                            <div id="chart-EUR-imprst-valas" class="b" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                            <div id="chart-JPY-imprst-valas" class="c" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                            <div id="chart-MYR-imprst-valas" class="d" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                        </div>
                                        <div class="col-md-12" align="center" style="margin-top: -100px">
                                            <button class="btn" onclick="renHari()">
                                                USD
                                            </button>
                                            <button class="btn" onclick="renMinggu()">
                                                EUR
                                            </button>
                                            <button class="btn" onclick="renBulan()">
                                                JPY
                                            </button>
                                            <button class="btn" onclick="renTahun()">
                                                MYR
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="col-md-12">
                                            <div align="center" class="title"><h5><b>SALDO REKENING VALUTA ASING<span></span></b></h5></div>
                                        </div>
                                        <div class="col-md-12" style="padding-top: 15px;">
                                            <div class="view-table">
                                                <table id="table-derivatif-deposit" class="table table-rencana-realisasi table-condensed table-bordered">
                                                    <thead>
                                                    <tr >
                                                        <th style="vertical-align: middle; text-align: center;" rowspan="2">BANK</th>
                                                        <th style="vertical-align: middle; text-align: center;" colspan="4">DERIVATIF</th>
                                                        <th style="vertical-align: middle; text-align: center;" rowspan="2">DEPOSITO</th>
                                                    </tr>
                                                    <tr >
                                                        <th style="vertical-align: middle; text-align: center;">FORWARD</th>
                                                        <th style="vertical-align: middle; text-align: center;">SWAP</th>
                                                        <th style="vertical-align: middle; text-align: center;">CSO</th>
                                                        <th style="vertical-align: middle; text-align: center;">DNDF</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 50px" align="center">
                                            <div class="col-md-6" style="margin-top: 50px" align="center">
                                                <div id="chart-derivatif-mandiri" class="a" style="height: 35rem; width: 100%;"></div>
                                                <div id="chart-derivatif-bri" class="b" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                                <div id="chart-derivatif-bni" class="c" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                                <div id="chart-derivatif-bukopin" class="d" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                            </div>
                                            <div class="col-md-6" align="center" style="margin-top: -100px">
                                                <button class="btn" onclick="derMandiri()">
                                                    Mandiri
                                                </button>
                                                <button class="btn" onclick="derBri()">
                                                    BRI
                                                </button>
                                                <button class="btn" onclick="derBni()">
                                                    BNI
                                                </button>
                                                <button class="btn" onclick="derBukopin()">
                                                    Bukopin
                                                </button>
                                            </div>

                                            <div class="col-md-6" style="margin-top: 50px" align="center">
                                                <div id="chart-deposito-mandiri" class="a" style="height: 35rem; width: 100%;"></div>
                                                <div id="chart-deposito-bri" class="b" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                                <div id="chart-deposito-bni" class="c" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                                <div id="chart-deposito-bukopin" class="d" style="height: 35rem; width: 100%; margin-top: -560px;"></div>
                                            </div>
                                            <div class="col-md-6" align="center" style="margin-top: -100px">
                                                <button class="btn" onclick="depMandiri()">
                                                    Mandiri
                                                </button>
                                                <button class="btn" onclick="depBri()">
                                                    BRI
                                                </button>
                                                <button class="btn" onclick="depBni()">
                                                    BNI
                                                </button>
                                                <button class="btn" onclick="depBukopin()">
                                                    Bukopin
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" align="center" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block">
                                        <div align="center"><h5><b>Rencana Pembayaran USD</b></h5></div>
                                        <table id="main-valas" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                            <thead>
                                            <tr>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                <th rowspan="2">KODE</th>
                                                <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                            </tr>
                                            <tr id="header-tanggal" style="vertical-align: middle !important;text-align: center">
                                                <th id="tgl1a" ></th>
                                                <th id="tgl2a" ></th>
                                                <th id="tgl3a" ></th>
                                                <th id="tgl4a" ></th>
                                                <th id="tgl5a" ></th>
                                                <th id="tgl6a" ></th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <div align="center" style="margin-top: 30px"><h5><b>Rencana Pembayaran EUR</b></h5></div>
                                        <table id="main-valas2" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                            <thead>
                                            <tr>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                <th rowspan="2">KODE</th>
                                                <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                            </tr>
                                            <tr id="header-tanggal2" style="vertical-align: middle !important;text-align: center">
                                                <th id="tgl1b" ></th>
                                                <th id="tgl2b" ></th>
                                                <th id="tgl3b" ></th>
                                                <th id="tgl4b" ></th>
                                                <th id="tgl5b" ></th>
                                                <th id="tgl6b" ></th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <div align="center" style="margin-top: 30px"><h5><b>Rencana Pembayaran JPY</b></h5></div>
                                        <table id="main-valas3" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-bottom: 5px">
                                            <thead>
                                            <tr>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">BANK</th>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                <th rowspan="2">KODE</th>
                                                <th colspan="6" style="text-align: center; vertical-align: middle;">TANGGAL</th>
                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">TOTAL</th>
                                            </tr>
                                            <tr id="header-tanggal3" style="vertical-align: middle !important;text-align: center">
                                                <th id="tgl1c" ></th>
                                                <th id="tgl2c" ></th>
                                                <th id="tgl3c" ></th>
                                                <th id="tgl4c" ></th>
                                                <th id="tgl5c" ></th>
                                                <th id="tgl6c" ></th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <div align="center" style="margin-top: 30px"><h5><b>Rencana Pembayaran Exotic Currency</b></h5></div>
                                        <table id="main-valas4" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                            <thead>
                                            <tr>
                                                <th style="vertical-align: middle; text-align: center;">BANK</th>
                                                <th style="vertical-align: middle; text-align: center;">KETERANGAN</th>
                                                <th style="vertical-align: middle; text-align: center;">MYR</th>
                                                <th style="vertical-align: middle; text-align: center;">AUD</th>
                                                <th style="vertical-align: middle; text-align: center;">GBP</th>
                                                <th style="vertical-align: middle; text-align: center;">VAD</th>
                                                <th style="vertical-align: middle; text-align: center;">SGD</th>
                                                <th style="vertical-align: middle; text-align: center;">BLA</th>

                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-1" class="carousel-control next control-3">›</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/dashboard_valas.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript">

		function renHari() {
			element = document.querySelector('#chart-USD-imprst-valas');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-EUR-imprst-valas');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-JPY-imprst-valas');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-MYR-imprst-valas');
			element.style.visibility = 'hidden';
		}

		function renMinggu() {
			element = document.querySelector('#chart-EUR-imprst-valas');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-USD-imprst-valas');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-JPY-imprst-valas');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-MYR-imprst-valas');
			element.style.visibility = 'hidden';
		}

		function renBulan() {
			element = document.querySelector('#chart-JPY-imprst-valas');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-EUR-imprst-valas');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-USD-imprst-valas');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-MYR-imprst-valas');
			element.style.visibility = 'hidden';
		}

        function renTahun() {
            element = document.querySelector('#chart-MYR-imprst-valas');
			element.style.visibility = 'visible';
			element = document.querySelector('#chart-JPY-imprst-valas');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-EUR-imprst-valas');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-USD-imprst-valas');
			element.style.visibility = 'hidden';
		}

		function derMandiri() {
			element = document.querySelector('#chart-derivatif-mandiri');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-derivatif-bri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-derivatif-bni');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-derivatif-bukopin');
			element.style.visibility = 'hidden';
		}

		function derBri() {
			element = document.querySelector('#chart-derivatif-bri');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-derivatif-mandiri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-derivatif-bni');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-derivatif-bukopin');
			element.style.visibility = 'hidden';
		}

		function derBni() {
			element = document.querySelector('#chart-derivatif-bni');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-derivatif-bri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-derivatif-mandiri');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-derivatif-bukopin');
			element.style.visibility = 'hidden';
		}

        function derBukopin() {
            element = document.querySelector('#chart-derivatif-bukopin');
			element.style.visibility = 'visible';
			element = document.querySelector('#chart-derivatif-bni');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-derivatif-bri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-derivatif-mandiri');
			element.style.visibility = 'hidden';
		}

		function depMandiri() {
			element = document.querySelector('#chart-deposito-mandiri');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-deposito-bri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-deposito-bni');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-deposito-bukopin');
			element.style.visibility = 'hidden';
		}

		function depBri() {
			element = document.querySelector('#chart-deposito-bri');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-deposito-mandiri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-deposito-bni');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-deposito-bukopin');
			element.style.visibility = 'hidden';
		}

		function depBni() {
			element = document.querySelector('#chart-deposito-bni');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-deposito-bri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-deposito-mandiri');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-deposito-bukopin');
			element.style.visibility = 'hidden';
		}

        function depBukopin() {
            element = document.querySelector('#chart-deposito-bukopin');
			element.style.visibility = 'visible';
			element = document.querySelector('#chart-deposito-bni');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-deposito-bri');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-deposito-mandiri');
			element.style.visibility = 'hidden';
		}
	</script>
</div>
