<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 12px;
            vertical-align: middle;
        }
        table td {
            font-size: 12px;
        }
<!--        tbody:hover td {-->
<!--            color: transparent;-->
<!--            text-shadow: 0 0 3px #aaa;-->
<!--        }-->

<!--        tbody:hover tr:hover td {-->
<!--            color: #444;-->
<!--            text-shadow: 0 1px 0 #fff;-->
<!--        }-->
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Realisasi</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <!--                        <div style="overflow-y:auto;">-->
                        <iframe height="1000" width="100%" src="http://10.14.153.169:8080/pivot/#!/auth/pivot"></iframe>
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <table class="table table-bordered table-condensed" id="dash_real_per_vendor" width="100%">
                            <thead>
                            <tr style="background-color: #f9dc84;">
                                <th colspan="13" style="text-align: center; background: #F4D35E" width="100%">REALISASI PEMBAYARAN PER VENDOR</th>
                            </tr>
                            <tr style="background-color: #8688ca; color: black; text-align: center">
                                <th style="vertical-align: middle; background: #F4D35E" width="16%">TANGGAL</th>
                                <th style="text-align: center; background: #F4D35E" width="16%">TANGGAL</th>
                                <th style="text-align: center; background: #F4D35E" width="20%">JENIS PEMBAYARAN</th>
                                <th style="text-align: center; background: #F4D35E" width="16%">VENDOR</th>
                                <th style="text-align: center; background: #F4D35E" width="16%">BANK</th>
                                <th style="text-align: center; background: #F4D35E" width="16%">CURRENCY</th>
                                <th style="text-align: center; background: #F4D35E;" width="16%">ORIGINAL CURRENCY</th>
                                <th style="text-align: center; background: #F4D35E" width="16%">EQ IDR</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="col-md-12">
                            <div align="center" class="title"><h5><b>Realisasi Pembayaran - Cashcode (10 Besar)<span></span></b></h5></div>
                            <div align="center" class="title"><h5><b>TGL : <span id="tglcetak">-</span></b></h5></div>
                        </div>

                        <div id="filter">
                            <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
                                <div class="col-md-1" style="padding-right: 0px;">
                                    <label class="lbl-src">Tanggal Awal </label>
                                </div>
                                <div class="col-md-3" style="padding-right: 0px;">
                                    <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                                </div>
                                <div class="col-md-1" style="padding-right: 0px;">
                                    <label class="lbl-src">Tanggal Akhir </label>
                                </div>
                                <div class="col-md-3" style="padding-right: 0px;">
                                    <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                                </div>
                                <div class="col-md-1" style="padding-right: 0px;">
                                    <label class="lbl-src">Bank </label>
                                </div>
                                <div class="col-md-3" style="padding-right: 0px;">
                                    <select name="bank" id="cmb_bank" class="form-control">
                                        <option value="">Pilih Data</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;padding-top: 15px;">
                                <div class="col-md-1" style="padding-right: 0px;">
                                    <label class="lbl-src">Cash Code </label>
                                </div>
                                <div class="col-md-3" style="padding-right: 0px;">
                                    <select name="cashcode" id="cmb_cashcode" class="form-control">
                                        <option value="">Pilih Data</option>
                                    </select>
                                </div>
                                <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                                <div class="col-md-3" style="padding-right: 0px;">
                                    <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="padding-top: 15px;">
                            <div class="view-table">
                                <table id="table-imprst-valas" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="background: #67a2d8" width="4%">NO</th>
                                        <th style="background: #67a2d8" width="16.666%">VENDOR</th>
                                        <th style="background: #67a2d8" width="16.666%">BANK PEMBAYARAN</th>
                                        <th style="background: #67a2d8" width="16.666%">CURR</th>
                                        <th style="background: #67a2d8" width="16.666%">ORIGINAL CURR</th>
                                        <th style="background: #67a2d8" width="16.666%">EQ IDR</th>
                                        <th style="background: #67a2d8" width="16.666%">CASH CODE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div></div></div>
        </div>
    </div>

    <!--    modal detail -->
    <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/dash_realisasi.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
