<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }

        table th {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            vertical-align: middle !important;
            padding: 5px !important;
            width: 500px;
        }

        table td {
            font-size: 12px;
            width:1%;
            white-space:nowrap;
        }

        #bankfilter {
          width: 30%;
          height: 80%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 15px;
          }

        #jenrekfilter {
          width: 30%;
          height: 80%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 15px;
          }

        #tiperekfilter {
          width: 30%;
          height: 80%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 15px;
          }

        #myInput {
          background-image: url('../static/images/searchicon.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          width: 30%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 15px;
          }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Pengelolaan Likuiditas</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div style="overflow-y:auto;">
                            <table id="saldo-operasi" class="table table-rencana-realisasi table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="4" style="background-color: #3185FC;vertical-align: middle !important; text-align: center;" width="10%" align="center"><b>NAMA BANK</b></th>
                                    <th colspan="12" rowspan="2" style="background-color: #F4D35E;vertical-align: middle !important; text-align: center;" width="70%" align="center"><b>OPERASI (JUTA)</b></th>
                                    <th colspan="2" style="background-color: #FF773D;vertical-align: middle !important; text-align: center;" width="20%" align="center"><b>JUMLAH OPERASI (JUTA)</b></th>
                                </tr>
                                <tr style="background-color: #FF773D" align="center">
                                    <th>IDR</th>
                                    <th>VALAS</th>
                                </tr>
                                <tr style="background-color: #F4D35E;" align="center">
                                    <th>A</th>
                                    <th>B</th>
                                    <th>C</th>
                                    <th>D</th>
                                    <th>E</th>
                                    <th>F</th>
                                    <th>G</th>
                                    <th>H</th>
                                    <th>I</th>
                                    <th>J</th>
                                    <th>K</th>
                                    <th>L</th>
                                    <th>M</th>
                                    <th>N</th>
                                </tr>
                                <tr style="background-color: #3185FC;" align="center">
                                    <th>RECEIPT</th>
                                    <th>OBLIGASI</th>
                                    <th>DEPRESIASI</th>
                                    <th>BENCANA</th>
                                    <th>GLOBAL BOND</th>
                                    <th>DOKUMEN LELANG</th>
                                    <th>IMPREST</th>
                                    <th>IMPREST OPERASI TERPUSAT</th>
                                    <th>IMPREST VALAS</th>
                                    <th>IMPOR</th>
                                    <th>SUBSIDI</th>
                                    <th>KMK</th>
                                    <th>M = A+B+C+D+F +G+H+J+K+L</th>
                                    <th>N = E+I</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <div class="card">
                    <div class="card-block">
                        <div style="overflow-y:auto;">
                            <table id="saldo-investasi" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th rowspan="4" style="background-color: #3185FC; vertical-align: middle;" align="center"><b>NAMA BANK</b></th>
                                    <th colspan="7" rowspan="2" style="background-color: #F4D35E; vertical-align: middle;" align="center"><b>INVESTASI (JUTA)</b></th>
                                    <th colspan="2" style="background-color: #FF773D; vertical-align: middle;" align="center"><b>JUMLAH INVESTASI (JUTA)</b></th>
                                    <th rowspan="2" style="background-color: #FF773D; vertical-align: middle;" align="center"><b>TOTAL (JUTA)</b></th>
                                </tr>
                                <tr style="background-color: #FF773D; vertical-align: middle; font-weight: bold;" align="center">
                                    <th>IDR</th>
                                    <th>VALAS</th>
                                </tr>
                                <tr style="background-color: #F4D35E; vertical-align: middle; font-weight: bold;" align="center">
                                    <th>O</th>
                                    <th>P</th>
                                    <th>Q</th>
                                    <th>R</th>
                                    <th>S</th>
                                    <th>T</th>
                                    <th>U</th>
                                    <th style="background-color: #FF773D;">V</th>
                                    <th style="background-color: #FF773D;">W</th>
                                    <th style="background-color: #FF773D;">X</th>
                                </tr>
                                <tr style="background-color: #3185FC; vertical-align: middle; font-weight: bold;" align="center">
                                    <th>IMPREST INVESTASI TERPUSAT</th>
                                    <th>SUKUK</th>
                                    <th>DEPOSITO</th>
                                    <th>PMN</th>
                                    <th>ESCROW (IDR)</th>
                                    <th>EXCROW (VALAS)</th>
                                    <th>ADB RBL</th>
                                    <th>V=O+P+Q+R+S</th>
                                    <th>W=T+U</th>
                                    <th>X=M+N+V+W</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="view-table">
                                <table id="keterangan" class="table table-bordered" width="50%" style="margin-top: 10   px;">
                                    <thead>
                                    <tr>
                                        <th style="background-color: #FF773D; text-align: center" align="center">KETERANGAN</th>
                                        <th style="background-color: #FF773D; text-align: center" align="center">TOTAL (JUTA)</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="col-md-12 row" style="padding-left: 0px; padding-right: 0px">
<!--                            <div class="col-md-3">-->
<!--                            </div>-->
                            <div class="col-md-1">
                                <label class="lbl-src" style="align-text: center">Bank</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                <select name="bank" id="bank_filter" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px;">
                                <label class="lbl-src">Jenis Rekening</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                <select name="bank" id="jenrek_filter" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px; ">
                                <label class="lbl-src">Tipe Rekening</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                <select name="bank" id="tiperek_filter" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                            <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                            <div class="col-md-1" style="padding-right: 0px;">
                                <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                            </div>
                        </div>
                        <table id="rincian-saldo" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-top: 5px; margin-bottom: 15px">
                            <thead>
                            <tr class="header">
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="11%" align="center">NO REKENING</th>
                                <th scope="col" style="background: #F4D35E; vertical-align: middle; text-align: center" width="8%" align="center">BANK</th>
                                <th scope="col" style="background: #F4D35E; vertical-align: middle; text-align: center" width="8%" align="center">CURRENCY</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="10%" align="center">JENIS REKENING</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="13.3%" align="center">TIPE REKENING</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="13.3%" align="center">ORIGINAL CURRENCY</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="13.3%" align="center">EQ CURRENCY</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="6%" align="center">%</th>
                            </tr>
                            </thead>
                            <tbody id="isi">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    modal detail -->
    <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/dash_rupiah.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
