<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 12px;
            vertical-align: middle;
        }
        table td {
            font-size: 12px;
            text-align: center;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Estimasi Penerimaan</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="col-md-12 row" style="padding-left: 0px; padding-right: 0px">
                            <div class="col-md-1" style="padding-right: 0px;">
                                <label class="lbl-src">Tanggal Awal </label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px;">
                                <input placeholder="Posting date" type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px;">
                                <label class="lbl-src">Tanggal Akhir </label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px;">
                                <input placeholder="Posting date" type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px;">
                                <label class="lbl-src">Unit</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                <select name="bank" id="unit_filter" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px; ">
                                <label class="lbl-src">Range</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                <select name="bank" id="range_filter" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="padding-right: 0px; ">
                                <label class="lbl-src">Indikator Pertumbuhan</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                <select name="bank" id="indikator_filter" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="col-md-5" style="padding-right: 0px;">&nbsp;</div>
                            <div class="col-md-5" style="padding-right: 0px;">&nbsp;</div>
                            <div class="col-md-2" style="padding-right: 0px;">
                                <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                            </div>
                        </div>
                        <table id="realisasi-pembayaran-cashcode" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-top: 5px; margin-bottom: 15px">
                            <thead>
                            <tr class="header">
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="11%" align="center" rowspan="2">NO</th>
                                <th scope="col" style="background: #F4D35E; vertical-align: middle; text-align: center" width="8%" align="center"  rowspan="2">TANGGAL</th>
                                <th scope="col" style="background: #F4D35E; vertical-align: middle; text-align: center" width="8%" align="center" colspan="4">ESTIMASI PENERIMAAN H+1</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="10%" align="center" colspan="4">ESTIMASI PENERIMAAN H+0</th>
                                <th scope="col" style="background-color: #F4D35E; vertical-align: middle; text-align: center" width="13.3%" align="center"rowspan="2">TOTAL</th>
                            </tr>
                            <tr >
                                <th style="text-align: center;">POSTPAID</th>
                                <th style="text-align: center">PREPAID</th>
                                <th style="text-align: center">NON TAGIHAN LISTRIK</th>
                                <th style="text-align: center" >SUB TOTAL</th>
                                <th style="text-align: center;">POSTPAID</th>
                                <th style="text-align: center">PREPAID</th>
                                <th style="text-align: center">NON TAGIHAN LISTRIK</th>
                                <th style="text-align: center" >SUB TOTAL</th>
                            </tr>
                            </thead>
                            <tbody id="isi">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    modal detail -->
    <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/dash_rencana.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
