<div th:fragment="stylesheets-backend">
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Home</li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn" align="center">
            <!--<p th:text="${session.potensi}"></p>-->
            <div><img style="width: 35%;margin-top: 15px; margin-bottom: 40px;" src="/static/images/lg-login.png" /></div>
            <i style="font-family: Consolas, monospace"><H4>Liquidity Monitoring And Transcation Application</H4></i>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
</div>