<div th:fragment="stylesheets-backend">
    <style>
        button{ cursor: pointer
        }
        .table td {
            padding-right: 0.75rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right !important;
            text-align: left !important;
            padding-left: 0px;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: right !important;
        }
        thead {
            font-size: 12px; !important;
        }
        tbody {
            font-size: 12px; !important;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Transaksi Operasi Khusus</li>
        <li class="breadcrumb-menu d-md-down-none fungsional-button">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <!--                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="upload_xls()"><i class="icon-plus"></i>&nbsp;Input Xls</button>-->
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="exportXls()"><i class="icon-docs"></i>&nbsp;Xls</button>
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="generatePDF()"><i class="icon-docs"></i> &nbsp;Pdf</button>
                <button style="font-style: italic; cursor: pointer" id="btn-add-rekap" class="btn btn-secondary" onclick="openFormNew()" sec:authorize="hasAnyAuthority('ROLE_JA_CASH','ROLE_JA_IE','ROLE_CENTRALIZED_RECEIPT')">
                    <i class="icon-pencil"></i> &nbsp;New Data
                </button>
            </div>
        </li>
    </ol>
    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <div id="filter">
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Tanggal Awal </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Tanggal Akhir </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Currency </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <select name="bacurrecnynk" id="cmb_currency" class="form-control">
                            <option value="">Pilih Data</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;padding-top: 15px;">
                    <div class="col-md-1" style="padding-right: 0px;">

                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">

                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">

                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">

                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                    </div>
                </div>
            </div>
            <!--            start table for pindah buku HEAD-->
            <div class="list-data" style="margin-top:25px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table id="table-rekapitulasi" class="table table-bordered table-striped">
                            <thead style="font-size: 12px">
                            <tr>
                                <th>NO.</th>
                                <th>DOCUMENT DATE</th>
                                <th>POSTING DATE</th>
                                <th>DOCUMENT NUMBER</th>
                                <th>REFERENCE</th>
                                <th>FISCAL YEAR</th>
                                <th>COMPANY CODE</th>
                                <th>BUSINESS AREA</th>
                                <th>CURRENCY</th>
                                <th>EXCHANGE RATE</th>
                                <th>TOTAL TAGIHAN</th>
                                <th>DOC HDR TEXT</th>
                                <th>STATUS TRACKING</th>
                                <th width="120px">AKSI</th>
                                <th id="forcbparent"></th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--            end of TABLE PINDAH BUKU HEAD-->
        </div>
    </div>

    <div id="edit-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Form Operasi Khusus</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pHeadDocDate">&nbsp;Document Date :</label>
                                <input type="text" class="form-control" id="pHeadDocDate" style="background-color: white" value="" required="required" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pHeadPostingDate">&nbsp;Posting Date :</label>
                                <input type="text" class="form-control" id="pHeadPostingDate" style="background-color: white" value="" required="required" readonly="readonly"/>
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label for="pHeadDocNo">&nbsp;Document Number :</label>-->
<!--                                <input type="number" class="form-control" id="pHeadDocNo" style="background-color: white" value="" required="required"/>-->
<!--                            </div>-->
                            <div class="form-group">
                                <label for="pHeadReference">&nbsp;Reference :</label>
                                <input type="text" class="form-control" id="pHeadReference" style="background-color: white" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="pHeadFiscYear">Fiscal Year :</label>
                                <input type="number" class="form-control" id="pHeadFiscYear" style="background-color: white" value="" pattern="[0-9]" required="required"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pHeadCompCode">&nbsp;Company Code :</label>
                                <input type="number" class="form-control" id="pHeadCompCode" style="background-color: white" value="" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pHeadBusArea">&nbsp;Business Area :</label>
                                <input type="text" class="form-control" id="pHeadBusArea" style="background-color: white" value="" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="pHeadDocHdrTxt">&nbsp;Doc Hdr Text :</label>
                                <textarea class="form-control" id="pHeadDocHdrTxt" style="background-color: white" value=""></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pHeadCurrency">&nbsp;Currency :</label>
                                <select class="form-control" id="pHeadCurrency" style="background-color: white" required="required">
                                    <option value="IDR">IDR</option>
                                    <option value="USD">USD</option>
                                    <option value="JPY">JPY</option>
                                </select>
                                <input type="hidden" value="" id="pHeadCurrencyHidden"/>
                            </div>
                            <div class="form-group pExcRate">
                                <label for="pHeadExchangeRate">Exchange Rate</label>
                                <input type="number" class="form-control" id="pHeadExchangeRate" style="background-color: white" required="required"/>
                            </div>
                            <input type="hidden" id="pIdMetallica"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ins_data()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-upload-xls" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_modal_upload_xls">UPLOAD FILE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="input_file_xls">
                    <div class="form-group" style="display:none">
                        <input type="text" class="form-control" id="temp-xls"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">UPLOAD FILE XLS |
                            <a th:href="@{/api_master/template/2}" id="btn-download-template-data-bank">
                                Download Template
                            </a></label>
                        <input type="file" class="form-control" id="file-xls"
                               accept="application/vnd.ms-excel"/>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="upload_server_xls()">Selesai</button>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-data container-fluid" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="form-detail">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pDetailDocumentNumber">Document Number :</label>
                                <input type="text" class="form-control" id="pDetailDocumentNumber" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pDetailPmtProposalId">Proposal Payment Id :</label>
                                <input type="text" class="form-control" id="pDetailPmtProposalId" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pDetailReference">Reference :</label>
                                <input type="text" class="form-control" id="pDetailReference" readonly="readonly"/>
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailDrCrInd"><span style="color: red">*)</span>&nbsp;Debit Credit Indicator :</label>
                                <select id="pDetailDrCrInd" class="form-control" required="required">
                                    <option value="C">Credit</option>
                                    <option value="D">Debit</option>
                                </select>
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailLineNo"><span style="color: red">*)</span>&nbsp;Line Number :</label>
                                <input type="text" class="form-control" id="pDetailLineNo" readonly="readonly"/>
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailRemarks">Remarks :</label>
                                <input type="text" class="form-control" id="pDetailRemarks"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pDetailFiscYear">Fiscal Year :</label>
                                <input type="text" class="form-control" id="pDetailFiscYear" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pDetailCompCode">Company Code:</label>
                                <input type="text" id="pDetailCompCode" class="form-control" readonly="readonly" />
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailAmount"><span style="color: red">*)</span>&nbsp;Amount :</label>
                                <input type="text" class="form-control" id="pDetailAmount" data-mask="000,000,000,000,000,000,000" required="required"/>
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailGlAccount"><span style="color: red">*)</span>&nbsp;GL Account :</label>
                                <select class="form-control" id="pDetailGlAccount" required="required">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group pExchangeRate">
                                <label for="pDetailExchangeRate"><span style="color: red">*)</span>&nbsp;Exchange Rate :</label>
                                <input type="text" class="form-control" id="pDetailExchangeRate"/>
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pSumberDana"><span style="color: red">*)</span>&nbsp;Sumber Dana :</label>

                                <select class="form-control" id="pSumberDana">
                                    <option value="PMN">PMN</option>
                                    <option value="NON PMN">NON PMN</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pDetailBusArea">Business Area :</label>
                                <input type="text" class="form-control" id="pDetailBusArea" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pDetailPostDate">&nbsp;Posting Date :</label>
                                <input type="text" class="form-control" id="pDetailPostDate" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="pDetailCurrency">Currency :</label>
                                <input type="text" class="form-control" id="pDetailCurrency" readonly="readonly" />
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailCostCtr"><span style="color: red">*)</span>Cost Center : </label>
                                <input type="text" id="pDetailCostCtr" class="form-control" maxlength="10" minlength="10" required="required"/>
                            </div>
                            <div class="form-group just-for-input-data">
                                <label for="pDetailCashCode"><span style="color: red">*)</span>Cash Code : </label>
                                <select id="pDetailCashCode" class="form-control">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div align="right" class="just-for-input-data">
                        <button onclick="AddToTable()" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="margin-top: 50px;">
            <table id="table-main-detail" class="table table-striped">
                <thead>
                <tr>
                    <th>DOCUMENT NUMBER</th>
                    <th>PAYMENT PROPOSAL</th>
                    <th>COMPANY CODE</th>
                    <th>CASH CODE</th>
                    <th>SUMBER DANA</th>
                    <th>FISCAL YEAR</th>
                    <th>LINE NUMBER</th>
                    <th>DEBIT CREDIT INDICATOR</th>
                    <th>GL ACCOUNT</th>
                    <th>REAL AMOUNT</th>
                    <th>AMOUNT</th>
                    <th>CURRENCY</th>
                    <th>COST CENTER</th>
                    <th>BUSINESS AREA</th>
                    <th>REMARKS</th>
                    <th>MASUK</th>
                    <th>AKSI</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="3"></td>
                    <td colspan="2"></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div align="right">
            <button class="btn btn-danger" onclick="back()"><i class="fa fa-arrow-circle-left"> &nbsp; Back</i></button>
            <button onclick="submitChild()" class="btn btn-success just-for-input-data">Submit</button>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/operasiKhususTrx.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</div>