<div th:fragment="stylesheets-backend">
    <style>
        button{ cursor: pointer
        }
        .table td {
            padding-right: 0.75rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right !important;
            text-align: left !important;
            padding-left: 0px;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: right !important;
        }

        .lbl-src{
            font-size: 12px;
        }
        .panel-custom {
            overflow-x: hidden !important;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Pembelian Valas</li>
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="exportXls()" ><i class="icon-docs"></i>&nbsp;Xls</button>
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" onclick="generatePDF()"><i class="icon-docs"></i> &nbsp;Pdf</button>
            </div>
        </li>
    </ol>
    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <div id="filter">
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
                    <div class="col-md-1" style="padding-right: 0px;"><label class="lbl-src">Tanggal Awal </label></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;"><label class="lbl-src">Tanggal Akhir </label></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;"><label class="lbl-src">Bank Penerima </label></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <select name="bank" id="cmb_bank" class="form-control">
                            <option value="">Pilih Data</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;padding-top: 15px;">
                    <div class="col-md-1" style="padding-right: 0px;"><label class="lbl-src">Currency </label></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <select name="bacurrecnynk" id="cmb_currecny" class="form-control">
                            <option value="">Pilih Data</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;"><label class="lbl-src">Dokumen 1 </label></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" class="form-control" id="no_dok1"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;"><label class="lbl-src">Dokumen 2 </label></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" class="form-control" id="no_dok2"/>
                    </div>
                </div>
                <div class="col-md-12" align="right" style="padding-left:0px;padding-right: 15px;">
                    <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                    <div class="col-md-3" style="padding-right: 0px;"><button onclick="search()" class="btn btn-primary" style="width: 100%; border-radius: 2px">Search</button></div>
                </div>
            </div>
            <div class="list-data" style="margin-top:50px;">
                <div class="panel panel-default">
                    <div class="panel-body panel-custom">
                        <table id="table-pembelian-valas" class="table table-bordered table-striped" style="margin-left: 0px;">
                            <thead style="font-size: 12px">
                            <tr>
                                <th>NO.</th>
                                <th>POSTING DATE</th>
                                <th>NAMA BANK PENGIRIM</th>
                                <th>KODE BANK PENGIRIM</th>
                                <th>NAMA BANK PENERIMA</th>
                                <th>KODE BANK PENERIMA</th>
                                <th>PEMBELIAN</th>
                                <th>CURRENCY</th>
                                <th>KURS</th>
                                <th>KONVERSI IDR</th>
                                <th>NO. SETTLEMENT</th>
                                <th>PAYREG</th>
                                <th>DOKUMEN 1</th>
                                <th>DOKUMEN 2</th>
                                <th>AKSI</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/pembelian_valas.js"></script>
</div>