<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 13px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }
        table td {
            font-size: 12px;
            font-weight: bold;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Management</li>
        <div align="right" style="color:#778899" class="title"><h7>Tanggal : <span id="tglcetak"></span></h7></div>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="card">
                    <div class="card-block" >
                        <div style="overflow-y:auto;">
                            <table id="valuta-asing" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">PENERIMAAN OPERASI DAN PENDANAAN VALUTA ASING</th>
                                <tr style="background: #F4D35E" width="12%">
                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                    <th style="background: #F4D35E; text-align: center;" width="9%">CURRENCY</th>
                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                    <th id="tgl1a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl2a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl3a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl4a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl5a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl6a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" > </th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="card">
                    <div class="card-block" >
                        <div style="overflow-y:auto;">
                            <table id="rupiah" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">PENERIMAAN OPERASI DAN PENDANAAN RUPIAH</th>
                                <tr style="background: #F4D35E" width="12%">
                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                    <th style="background: #F4D35E; text-align: center;" width="9%">JENIS REKENING</th>
                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                    <th id="tgl1b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl2b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl3b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl4b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl5b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl6b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" > </th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/penerimaan_operasi.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
