<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }

        table th {
            font-size: 12px;
            vertical-align: middle;
            font-weight: bold;
        }

        table td {
            font-size: 12px;
        }

        tbody:hover td {
<!--            color: transparent;-->
            text-shadow: 0 0 3px #aaa;
        }

        tbody:hover tr:hover td {
            color: #444;
            background: #F4D35E;
<!--            font-weight: bold;-->
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Pengelolaan Likuiditas</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div style="overflow-y:auto;">
                            <table id="saldo-operasi" class="table table-rencana-realisasi table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <td rowspan="4" style="background-color: #3185FC; vertical-align: middle;" align="center"><b>NAMA BANK</b></td>
                                    <td colspan="12" rowspan="2" style="background-color: #F4D35E; vertical-align: middle;" align="center"><b>OPERASI</b></td>
                                    <td colspan="2" style="background-color: #FF773D; vertical-align: middle;" align="center"><b>JUMLAH OPERASI</b></td>
                                </tr>
                                <tr>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">IDR</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">VALAS</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">A</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">B</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">C</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">D</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">E</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">F</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">G</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">H</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">I</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">J</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">K</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">L</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">M</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">N</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">RECEIPT</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">OBLIGASI</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">DEPRESIASI</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">BENCANA</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">GLOBAL BOND</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">DOKUMEN LELANG</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">IMPREST</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">IMPREST OPERASI TERPUSAT</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">IMPREST VALAS</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">IMPOR</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">SUBSIDI</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">KMK</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">M = A+B+C+D+F +G+H+J+K+L</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">N = E+I</td>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div style="overflow-y:auto;">
                            <table id="saldo-investasi" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <td rowspan="4" style="background-color: #3185FC; vertical-align: middle;" align="center"><b>NAMA BANK</b></td>
                                    <td colspan="7" rowspan="2" style="background-color: #F4D35E; vertical-align: middle;" align="center"><b>INVESTASI</b></td>
                                    <td colspan="2" style="background-color: #FF773D; vertical-align: middle;" align="center"><b>JUMLAH INVESTASI</b></td>
                                    <td rowspan="2" style="background-color: #FF773D; vertical-align: middle;" align="center"><b>TOTAL</b></td>
                                </tr>
                                <tr>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">IDR</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">VALAS</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">O</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">P</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">Q</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">R</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">S</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">T</td>
                                    <td style="background-color: #F4D35E; vertical-align: middle;" align="center">U</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">V</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">W</td>
                                    <td style="background-color: #FF773D; vertical-align: middle;" align="center">X</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">IMPREST INVESTASI TERPUSAT</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">SUKUK</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">DEPOSITO</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">PMN</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">ESCROW (IDR)</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">EXCROW (VALAS)</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">ADB RBL</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">V=O+P+Q+R+S</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">W=T+U+N</td>
                                    <td style="background-color: #3185FC; vertical-align: middle;" align="center">X=M+N+V+W</td>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="coll-md-3"></div>
                        <div class="coll-md-6">
                            <div class="view-table">
                                <table id="keterangan" class="table table-rencana-realisasi table-condensed table-bordered" width="100%" style="margin-top: 0px;">
                                    <thead>
                                    <tr>
                                        <th style="background-color: #FF773D; text-align: center" align="center">KETERANGAN</th>
                                        <th style="background-color: #FF773D; text-align: center" align="center">TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="coll-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <table id="rincian-saldo" class="table table-rencana-realisasi table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th style="background-color: #F4D35E; vertical-align: middle; align-text=center" width="13.3%" align="center">NO REKENING</th>
                                <th style="background: #F4D35E; vertical-align: middle; align-text=center" width="13.3%" align="center">BANK</th>
                                <th style="background: #F4D35E; vertical-align: middle; align-text=center" width="7.5%" align="center">CURRENCY</th>
                                <th style="background-color: #F4D35E; vertical-align: middle; align-text=center" width="13.3%" align="center">JENIS REKENING</th>
                                <th style="background-color: #F4D35E; vertical-align: middle; align-text=center" width="13.3%" align="center">TIPE REKENING</th>
                                <th style="background-color: #F4D35E; vertical-align: middle; align-text=center" width="13.3%" align="center">ORIGINAL CURRENCY</th>
                                <th style="background-color: #F4D35E; vertical-align: middle; align-text=center" width="13.3%" align="center">EQ CURRENCY</th>
                                <th style="background-color: #F4D35E; vertical-align: middle; align-text=center" width="7.5%" align="center">%</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    modal detail -->
    <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/pengelolaan_likuiditas.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
