<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 13px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }
        table td {
            font-size: 12px;
            font-weight: bold;
            width:1%;
        }
        .modal {
            width: 100%; /* Full width */
            height: 100%; /* Full height */
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Management</li>
        <div align="right" style="color:#778899" class="title"><h7>Tanggal : <span id="tglcetak"></span></h7></div>
    </ol>

    <div id="set-a" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">NOTA PEMINDAHBUKUAN LCL</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-imprest-pusat" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="4">PLACEMENT - IMPREST KANTOR PUSAT</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-b" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-impor" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="4">PLACEMENT - IMPOR</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-c" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-imprest-operasi-terpusat" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="4">PLACEMENT - IMPREST OPERASI TERPUSAT</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-d" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-imprest-investasi-terpusat" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="4">PLACEMENT - IMPREST INVESTASI TERPUSAT</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-e" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-settlement" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="4">PLACEMENT - SETTLEMENT</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-f" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-proteksi-pengadaan-valas" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="4">PLACEMENT - PROYEKSI PENGADAAN VALAS</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-g" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-receipt-placement" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="14">PLACEMENT - RECEIPT PLACEMENT</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                            <th style="text-align: center">MEGA</th>
                            <th style="text-align: center">DKI</th>
                            <th style="text-align: center">BCA</th>
                            <th style="text-align: center">BRI SYARIAH</th>
                            <th style="text-align: center">BTN</th>
                            <th style="text-align: center">DANAMON SYARIAH</th>
                            <th style="text-align: center">OCBV NISP</th>
                            <th style="text-align: center">BANK UOB</th>
                            <th style="text-align: center">DBS</th>
                            <th style="text-align: center">CIMB NIAGA</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-h" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                    <h5 class="modal-title">Form Realisasi Pembayaran</h5>-->
                </div>
                <div class="modal-body">
                    <table id="table-giro-special-rate" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SISA SALDO</th>
                            <th style="text-align: center; vertical-align: middle" colspan="14">PLACEMENT - GIRO SPECIAL RATE</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">TOTAL</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">MANDIRI</th>
                            <th style="text-align: center">BRI</th>
                            <th style="text-align: center">BNI</th>
                            <th style="text-align: center">BUKOPIN</th>
                            <th style="text-align: center">MEGA</th>
                            <th style="text-align: center">DKI</th>
                            <th style="text-align: center">BCA</th>
                            <th style="text-align: center">BRI SYARIAH</th>
                            <th style="text-align: center">BTN</th>
                            <th style="text-align: center">DANAMON SYARIAH</th>
                            <th style="text-align: center">OCBV NISP</th>
                            <th style="text-align: center">BANK UOB</th>
                            <th style="text-align: center">DBS</th>
                            <th style="text-align: center">CIMB NIAGA</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="update_status()">Set</button>
                    <button type="button" class="btn btn-primary" onclick="update_status()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-i" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">NOTA PEMINDAHANBUKUAN LCL</h5>
                </div>
                <div class="modal-body">
                    <table id="table-pemindahbukuan" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" colspan="3">DARI (RUPIAH)</th>
                            <th style="text-align: center; vertical-align: middle" colspan="6">KEPADA (RUPIAH)</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">BANK</th>
                            <th style="text-align: center">NAMA REKENING</th>
                            <th style="text-align: center">NO REKENING</th>
                            <th style="text-align: center">BANK</th>
                            <th style="text-align: center">NAMA REKENING</th>
                            <th style="text-align: center">NO REKENING</th>
                            <th style="text-align: center">NOMINAL</th>
                            <th style="text-align: center">NO SAP</th>
                            <th style="text-align: center">KETERANGAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <table id="table-settlement-valas" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" colspan="3">DARI (RUPIAH)</th>
                            <th style="text-align: center; vertical-align: middle" colspan="6">KEPADA (RUPIAH)</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">BANK</th>
                            <th style="text-align: center">NAMA REKENING</th>
                            <th style="text-align: center">NO REKENING</th>
                            <th style="text-align: center">BANK</th>
                            <th style="text-align: center">NAMA REKENING</th>
                            <th style="text-align: center">NO REKENING</th>
                            <th style="text-align: center">NOMINAL</th>
                            <th style="text-align: center">NO SAP</th>
                            <th style="text-align: center">KETERANGAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <table id="table-pengadaan-valas" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" colspan="3">DARI (RUPIAH)</th>
                            <th style="text-align: center; vertical-align: middle" colspan="6">KEPADA (RUPIAH)</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">BANK</th>
                            <th style="text-align: center">NAMA REKENING</th>
                            <th style="text-align: center">NO REKENING</th>
                            <th style="text-align: center">BANK</th>
                            <th style="text-align: center">NAMA REKENING</th>
                            <th style="text-align: center">NO REKENING</th>
                            <th style="text-align: center">NOMINAL</th>
                            <th style="text-align: center">NO SAP</th>
                            <th style="text-align: center">KETERANGAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <table id="table-rekap-placement" class="table table-bordered">
                        <thead>
                        <tr >
                            <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AWAL RECEIPT</th>
                            <th style="text-align: center; vertical-align: middle" colspan="8">REKAP PLACEMENT</th>
                            <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AKHIR RECEIPT</th>
                        </tr>
                        <tr >
                            <th style="text-align: center">IMPREST KANTOR PUSAT</th>
                            <th style="text-align: center">IMPOR</th>
                            <th style="text-align: center">IMPREST OPERASI TERPUSAT</th>
                            <th style="text-align: center">IMPREST INVESTASI TERPUSAT</th>
                            <th style="text-align: center">SETTLEMENT</th>
                            <th style="text-align: center">PROYEKSI PENGADAAN VALAS</th>
                            <th style="text-align: center">RECEIPT PLACEMENT</th>
                            <th style="text-align: center">GIRO SPECIAL RATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="card">
                    <div class="card-block" >
                        <div align="center" class="title" style="margin-bottom: 10px"><h6><b>REKAP PLACEMENT LCL</b></h6></div>
                        <div align="center" class="title" style="margin-bottom: 10px"><h6><b>TGL : </b></h6></div>
                        <div style="overflow-y:auto;">
                            <div class="col-md-12 row" style="margin-top: 25px; margin-bottom: 25px; padding-left: 0px; padding-right: 0px">
                                <div class="col-md-1" style="padding-right: 0px;">
                                    <label class="lbl-src">Tanggal</label>
                                </div>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <input placeholder="Posting date" type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal1"/>
                                </div>
                                <div class="col-md-1" style="padding-right: 0px; ">
                                    <label class="lbl-src">Sesi</label>
                                </div>
                                <div class="col-md-2" style="padding-right: 0px; margin-bottom: 20px">
                                    <select name="sesi" id="sesi_filter" class="form-control">
                                        <option value="">Pilih Data</option>
                                        <option value="1">Sesi 1</option>
                                        <option value="2">Sesi 2</option>
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding-right: 0px;">&nbsp;</div>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <button onclick="load()" class="btn btn-primary" style="width:100%; border-radius: 3px">Load</button>
                                </div>
                            </div>
                            <table id="table-rekap-placement-lcl" class="table table-bordered">
                                <thead>
                                <tr >
                                    <th style="text-align: center; vertical-align: middle" rowspan="2">BANK</th>
                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AWAL RECEIPT</th>
                                    <th style="text-align: center; vertical-align: middle" colspan="8">REKAP PLACEMENT</th>
                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AKHIR RECEIPT</th>
                                </tr>
                                <tr >
                                    <th style="text-align: center;">IMPREST KANTOR PUSAT</th>
                                    <th style="text-align: center">IMPOR</th>
                                    <th style="text-align: center">IMPREST OPERASI TERPUSAT</th>
                                    <th style="text-align: center">IMPREST INVESTASI TERPUSAT</th>
                                    <th style="text-align: center">SETTLEMENT</th>
                                    <th style="text-align: center">PROYEKSI PENGADAAN VALAS</th>
                                    <th style="text-align: center">RECEIPT PLACEMENT</th>
                                    <th style="text-align: center">GIRO SPECIAL RATE</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="card">
                    <div class="card-block" >
                        <div align="center" class="title" style="margin-bottom: 10px"><h6><b>KEBUTUHAN PLACEMENT LCL</b></h6></div>
                        <div align="center" class="title" style="margin-bottom: 10px"><h6><b>TGL : </b></h6></div>
                        <div style="overflow-y:auto;">
                            <table id="kebutuhan-placement" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
<!--                                <tr>-->
<!--                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">PENERIMAAN OPERASI DAN PENDANAAN RUPIAH</th>-->
                                <tr width="12%">
                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                    <th style=" text-align: center;" width="9%">TIPE KEBUTUHAN</th>
                                    <th style=" text-align: center;" width="7%">BANK</th>
                                    <th id="tgl1b" style="vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl2b" style="vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl3b" style="vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl4b" style="vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl5b" style="vertical-align: middle !important; text-align: center;"  ></th>
                                    <th id="tgl6b" style="vertical-align: middle !important; text-align: center;"  ></th>
                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                    <th style="vertical-align: middle !important; text-align: center;" width="10%" >AKSI</th>
                                </tr>
<!--                                </tr>-->
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" style="margin-top: 25px; margin-bottom: 25px; padding-left: 0px; padding-right: 0px">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button id="lihat-dokumen" class="btn btn-primary" onclick="openLihatDokumen()" style="width:100%; border-radius: 3px">Lihat Dokumen Placement</button>
                                </div>
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-4">
                                    <div align="center" class="title"><h7>Jakarta : <span id="tglApprove"></span></h7></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <!--                                <div class="col-md-6" style="padding-right: 0px;">&nbsp;</div>-->
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <label class="lbl-src">Disusun Oleh :</label>
                                    <label class="lbl-src">Staff LCL</label>
                                    <button onclick="update_approve_staff_lcl()" class="btn btn-primary" style="width:100%; border-radius: 3px">Approve</button>
                                </div>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <label class="lbl-src">Diverifikasi Oleh :</label>
                                    <label class="lbl-src">MSB LCL</label>
                                    <button onclick="update_approve_msb_lcl()" class="btn btn-primary" style="width:100%; border-radius: 3px">Approve</button>
                                </div>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <label class="lbl-src">Disetujui Oleh :</label>
                                    <label class="lbl-src">VP TLR</label>
                                    <button onclick="update_approve_vp_lcl()" class="btn btn-primary" style="width:100%; border-radius: 3px">Approve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/placement_lcl.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
