<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 13px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }
        table td {
            font-size: 12px;
            width:1%;
            white-space:nowrap;
        }
        .modal-dialog {
            max-width: 1500px;
            margin: 30px auto;
        }
        input{
            border: none;
            width: 80%;
            max-width: 120px;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Placement LCL</li>
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
<!--                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" id="new-data" onclick="createNew('')" sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_JA_CASH','ROLE_JA_IE')"><i class="fas fa-plus-square"></i> &nbsp;New Data</button>-->
                <button style="font-style: italic; cursor: pointer" class="btn btn-secondary" id="download-excel" onclick="generateExcel()"><i class="fas fa-file-excel"></i> &nbsp;Xls</button>
            </div>
        </li>
    </ol>

    <div class="list-data container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: 10px">
                <div class="card">
                    <div class="card-header" style="margin-bottom: 0.5rem; background-color: #eceff1 !important">
                        <div align="center" class="title" style="margin-bottom: 10px"><h6><b>PLACEMENT LCL HEADER</b></h6></div>
                        <div class="col-md-12 row" id="filter2" style="margin-left: 0rem;">
                            <div class="col-md-12 row" style="padding-left: 7.5px;margin-right: 0;">
                                <div class="col-md-5" style="padding-right: 0px;">
                                    <form class="form-inline" style="margin-bottom: 0rem;">
                                        <div class="form-group">
                                            <label>Tanggal</label>
                                            <input type="text" style="border-radius: 5px; margin: 0 1em 0 1em" class="form-control" id="tanggal"/>
                                        </div>
                                        <button type="button" class="btn btn-sm btn-primary" style="margin-top: 1px" onclick="search()"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block" >
                        <table id="table-placement-lcl-header" class="table table-condensed table-striped" width="100%">
                            <thead style="font-size: 12px">
                            <tr>
                                <th>ID FORM</th>
                                <th>KETERANGAN</th>
                                <th>TANGGAL</th>
                                <th>STATUS</th>
                                <th width="120px">AKSI</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-tagihan container-fluid" style="display: none;">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="card">
                    <div class="card-header" style="margin-bottom: 0.5rem; background-color: #eceff1 !important">
                        <div align="left">
                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>FORM : <span id="nama-form"></span></b></h6></div>
                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>STATUS : <span id="status"></span></b></h6></div>
                        </div>
                        <div align="right">
                            <button class="btn btn-danger" style="margin-top: -97px" onclick="back()"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</button>
                        </div>
                        <div align="center" class="title" style="margin-bottom: 10px"><h5><b>DETAIL TAGIHAN</b></h5></div>
                    </div>
                    <div class="card-block" >
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>TAGIHAN INVOICE</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-tagihan-invoice" class="table table-bordered" width="100%">
                                <thead>
                                <tr >
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">JENIS TAGIHAN</th>
                                    <th style="text-align: center">JENIS PEMBAYARAN</th>
                                    <th style="text-align: center">JATUH TEMPO</th>
                                    <th style="text-align: center">VENDOR/PENGEMBANG/PEMASOK/LOAD</th>
                                    <th style="text-align: center">CURRENCY</th>
                                    <th style="text-align: center">NILAI TAGIHAN</th>
                                    <th style="text-align: center">NOMINAL EQ IDR</th>
                                    <th style="text-align: center">NAMA KONTRAK/ LOAN/ UNIT PENERIMA/ PEMBANGKIT</th>
                                    <th style="text-align: center">BANK TUJUAN PEMBAYARAN</th>
                                    <th style="text-align: center">BANK PEMBAYARAN</th>
                                    <th style="text-align: center">TANGGAL TERIMA TAGIHAN</th>
                                    <th style="text-align: center">TGL. TAGIHAN</th>
                                    <th style="text-align: center">NO. TAGIHAN</th>
                                    <th style="text-align: center">TGL. NOTA DINAS PEMBAYARAN</th>
                                    <th style="text-align: center">NO. NOTA DINAS PEMBAYARAN</th>
                                    <th style="text-align: center">TANGGAL PEMBAYARAN</th>
                                    <th style="text-align: center">COUNTDOWN</th>
                                    <th style="text-align: center">STATUS</th>
                                    <th style="text-align: center">TIPE TRANSAKSI</th>
                                    <th style="text-align: center">NOMINAL SBLM PAJAK</th>
                                    <th style="text-align: center">PAJAK</th>
                                    <th style="text-align: center">NOMINAL STLH PAJAK</th>
                                    <th style="text-align: center">NOMINAL UNDERLYING</th>
                                    <th style="text-align: center">NOMINAL TANPA UNDERLYING</th>
                                    <th style="text-align: center">KURS JISDOR</th>
                                    <th style="text-align: center">SPREAD</th>
                                    <th style="text-align: center">KURS TRANSAKSI</th>
                                    <th style="text-align: center">NOMINAL PEMBAYARAN IDR</th>
                                    <th style="text-align: center">CREATE DATE</th>
                                    <th style="text-align: center">UPDATE DATE</th>
                                    <th style="text-align: center">STATUS TAGIHAN</th>
                                    <th style="text-align: center">KETERANGAN</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>TAGIHAN OPERASI KHUSUS</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-tagihan-operasi-khusus" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">DOCUMENT DATE</th>
                                    <th style="text-align: center">POSTING DATE</th>
                                    <th style="text-align: center">DOCUMENT NUMBER</th>
                                    <th style="text-align: center">REFERENCE</th>
                                    <th style="text-align: center">COMPANY CODE</th>
                                    <th style="text-align: center">BUSINESS AREA</th>
                                    <th style="text-align: center">CURRENCY</th>
                                    <th style="text-align: center">DOC HDR TEXT</th>
                                    <th style="text-align: center">TOTAL TAGIHAN</th>
                                    <th style="text-align: center">SUMBER DANA</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>TAGIHAN GIRO SPECIAL RATE</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-tagihan-giro-special-rate" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">BANK</th>
                                    <th style="text-align: center">CURRENCY</th>
                                    <th style="text-align: center">PRODUK</th>
                                    <th style="text-align: center">NOMINAL</th>
                                    <th style="text-align: center">INTEREST</th>
                                    <th style="text-align: center">TGL. PENEMPATAN</th>
                                    <th style="text-align: center">TGL. JATUH TEMPO</th>
                                    <th style="text-align: center">JASA GIRO</th>
                                    <th style="text-align: center">PAJAK</th>
                                    <th style="text-align: center">NETT JASA GIRO</th>
                                    <th style="text-align: center">PAJAK JASA GIRO</th>
                                    <th style="text-align: center">KETERANGAN</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>DROPPING UNIT</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-dropping-unit" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">TANGGAL</th>
                                    <th style="text-align: center">DROPPING OPERASI</th>
                                    <th style="text-align: center">DROPPING INVESTASI</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tagihan-terbesar container-fluid" style="display: none;">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="card">
                    <div class="card-header" style="margin-bottom: 0.5rem; background-color: #eceff1 !important">
                        <div align="left">
                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>FORM : <span id="nama-form2"></span></b></h6></div>
                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>STATUS : <span id="statu2"></span></b></h6></div>
                        </div>
                        <div align="right">
                            <button class="btn btn-danger" style="margin-top: -97px" onclick="back()"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</button>
                        </div>
                        <div align="center" class="title" style="margin-bottom: 10px"><h5><b>10 TAGIHAN TERBESAR</b></h5></div>
                        <form class="form-inline" style="margin-bottom: 0rem;">
                            <div class="form-group">
                                <label>Bank</label>
                                <select name="bank" id="daftar_bank" class="form-control">
                                    <option value="0">Pilih Data</option>
                                    <option value="1">BNI</option>
                                    <option value="2">BRI</option>
                                    <option value="3">MANDIRI</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary" style="margin-top: 1px" onclick="search()"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="card-block" >
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>TAGIHAN H-0</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-tagihan-h0" class="table table-bordered" width="100%">
                                <thead>
                                <tr >
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">NAMA VENDOR</th>
                                    <th style="text-align: center">TGL. RENCANA BAYAR</th>
                                    <th style="text-align: center">CURRENCY</th>
                                    <th style="text-align: center">NOMINAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>TAGIHAN H-1</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-tagihan-h1" class="table table-bordered" width="100%">
                                <thead>
                                <tr >
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">NAMA VENDOR</th>
                                    <th style="text-align: center">TGL. RENCANA BAYAR</th>
                                    <th style="text-align: center">CURRENCY</th>
                                    <th style="text-align: center">NOMINAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>TAGIHAN H-2</b></h5></div>
                        <div style="overflow-y:auto;">
                            <table id="table-tagihan-h2" class="table table-bordered" width="100%">
                                <thead>
                                <tr >
                                    <th style="text-align: center">NO</th>
                                    <th style="text-align: center">NAMA VENDOR</th>
                                    <th style="text-align: center">TGL. RENCANA BAYAR</th>
                                    <th style="text-align: center">CURRENCY</th>
                                    <th style="text-align: center">NOMINAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="detail-data container-fluid" style="display: none;">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" style="margin-top: 20px">-->
<!--                <div class="card">-->
<!--                    <div class="card-header" style="margin-bottom: 0.5rem; background-color: #eceff1 !important">-->
<!--                        <div align="left">-->
<!--                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>FORM : <span id="nama-form"></span></b></h6></div>-->
<!--                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>STATUS : <span id="status"></span></b></h6></div>-->
<!--                        </div>-->
<!--                        <div align="right">-->
<!--                            <button class="btn btn-danger" style="margin-top: -97px" onclick="back()"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</button>-->
<!--                        </div>-->
<!--                        <div align="center" class="title" style="margin-bottom: 10px"><h5><b>REKAP PLACEMENT LCL</b></h5></div>-->
<!--                    </div>-->
<!--                    <div class="card-block" >-->
<!--                        <div style="overflow-y:auto;">-->
<!--                            <table id="table-rekap-placement-lcl" class="table table-bordered" width="100%">-->
<!--                                <thead>-->
<!--                                <tr >-->
<!--                                    <th style="text-align: center; vertical-align: middle" width="10%" rowspan="2">BANK</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AWAL RECEIPT</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" colspan="8">REKAP PLACEMENT</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AKHIR RECEIPT</th>-->
<!--                                </tr>-->
<!--                                <tr >-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST KANTOR PUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPOR</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST OPERASI TERPUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST INVESTASI TERPUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">SETTLEMENT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">PROYEKSI PENGADAAN VALAS</th>-->
<!--                                    <th style="text-align: center" width="11.25%">RECEIPT PLACEMENT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">GIRO SPECIAL RATE</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>KEBUTUHAN PLACEMENT LCL</b></h5></div>-->
<!--                        <div style="overflow-y:auto;">-->
<!--                            <table id="kebutuhan-placement" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">-->
<!--                                <thead>-->
<!--                                <tr width="12%">-->
<!--                                    <th style=" text-align: center;" width="9%">TIPE KEBUTUHAN</th>-->
<!--                                    <th style=" text-align: center;" width="7%">BANK</th>-->
<!--                                    <th id="tgl1b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl2b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl3b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl4b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl5b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl6b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th style="vertical-align: middle !important; text-align: center;" width="10%" >AKSI</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->

<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="detail-data container-fluid" style="display: none;">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" style="margin-top: 20px">-->
<!--                <div class="card">-->
<!--                    <div class="card-header" style="margin-bottom: 0.5rem; background-color: #eceff1 !important">-->
<!--                        <div align="left">-->
<!--                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>FORM : <span id="nama-form"></span></b></h6></div>-->
<!--                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>STATUS : <span id="status"></span></b></h6></div>-->
<!--                        </div>-->
<!--                        <div align="right">-->
<!--                            <button class="btn btn-danger" style="margin-top: -97px" onclick="back()"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</button>-->
<!--                        </div>-->
<!--                        <div align="center" class="title" style="margin-bottom: 10px"><h5><b>REKAP PLACEMENT LCL</b></h5></div>-->
<!--                    </div>-->
<!--                    <div class="card-block" >-->
<!--                        <div style="overflow-y:auto;">-->
<!--                            <table id="table-rekap-placement-lcl" class="table table-bordered" width="100%">-->
<!--                                <thead>-->
<!--                                <tr >-->
<!--                                    <th style="text-align: center; vertical-align: middle" width="10%" rowspan="2">BANK</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AWAL RECEIPT</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" colspan="8">REKAP PLACEMENT</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AKHIR RECEIPT</th>-->
<!--                                </tr>-->
<!--                                <tr >-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST KANTOR PUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPOR</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST OPERASI TERPUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST INVESTASI TERPUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">SETTLEMENT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">PROYEKSI PENGADAAN VALAS</th>-->
<!--                                    <th style="text-align: center" width="11.25%">RECEIPT PLACEMENT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">GIRO SPECIAL RATE</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>KEBUTUHAN PLACEMENT LCL</b></h5></div>-->
<!--                        <div style="overflow-y:auto;">-->
<!--                            <table id="kebutuhan-placement" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">-->
<!--                                <thead>-->
<!--                                <tr width="12%">-->
<!--                                    <th style=" text-align: center;" width="9%">TIPE KEBUTUHAN</th>-->
<!--                                    <th style=" text-align: center;" width="7%">BANK</th>-->
<!--                                    <th id="tgl1b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl2b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl3b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl4b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl5b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl6b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th style="vertical-align: middle !important; text-align: center;" width="10%" >AKSI</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->

<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="detail-data container-fluid" style="display: none;">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12" style="margin-top: 20px">-->
<!--                <div class="card">-->
<!--                    <div class="card-header" style="margin-bottom: 0.5rem; background-color: #eceff1 !important">-->
<!--                        <div align="left">-->
<!--                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>FORM : <span id="nama-form"></span></b></h6></div>-->
<!--                            <div align="left" class="title" style="margin-bottom: 10px"><h6><b>STATUS : <span id="status"></span></b></h6></div>-->
<!--                        </div>-->
<!--                        <div align="right">-->
<!--                            <button class="btn btn-danger" style="margin-top: -97px" onclick="back()"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</button>-->
<!--                        </div>-->
<!--                        <div align="center" class="title" style="margin-bottom: 10px"><h5><b>REKAP PLACEMENT LCL</b></h5></div>-->
<!--                    </div>-->
<!--                    <div class="card-block" >-->
<!--                        <div style="overflow-y:auto;">-->
<!--                            <table id="table-rekap-placement-lcl" class="table table-bordered" width="100%">-->
<!--                                <thead>-->
<!--                                <tr >-->
<!--                                    <th style="text-align: center; vertical-align: middle" width="10%" rowspan="2">BANK</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AWAL RECEIPT</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" colspan="8">REKAP PLACEMENT</th>-->
<!--                                    <th style="text-align: center; vertical-align: middle" rowspan="2">SALDO AKHIR RECEIPT</th>-->
<!--                                </tr>-->
<!--                                <tr >-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST KANTOR PUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPOR</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST OPERASI TERPUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">IMPREST INVESTASI TERPUSAT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">SETTLEMENT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">PROYEKSI PENGADAAN VALAS</th>-->
<!--                                    <th style="text-align: center" width="11.25%">RECEIPT PLACEMENT</th>-->
<!--                                    <th style="text-align: center" width="11.25%">GIRO SPECIAL RATE</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                        <div align="center" class="title" style="margin: 2em 0 1em 0"><h5><b>KEBUTUHAN PLACEMENT LCL</b></h5></div>-->
<!--                        <div style="overflow-y:auto;">-->
<!--                            <table id="kebutuhan-placement" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">-->
<!--                                <thead>-->
<!--                                <tr width="12%">-->
<!--                                    <th style=" text-align: center;" width="9%">TIPE KEBUTUHAN</th>-->
<!--                                    <th style=" text-align: center;" width="7%">BANK</th>-->
<!--                                    <th id="tgl1b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl2b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl3b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl4b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl5b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th id="tgl6b" style="vertical-align: middle !important; text-align: center;"  ></th>-->
<!--                                    <th style="vertical-align: middle !important; text-align: center;" width="10%" >AKSI</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->

<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/placement_lcl_header_new.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</div>
