<div th:fragment="stylesheets-backend">
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Rekap Reject</li>
        <li class="breadcrumb-menu d-md-down-none">
        </li>
    </ol>
    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="animated fadeIn">
            <div id="filter">
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;">
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Tanggal Awal </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_awal"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Tanggal Akhir </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <input type="text" style="border-radius: 5px" class="form-control" id="tanggal_akhir"/>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Bank </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <select name="bank" id="cmb_bank" class="form-control">
                            <option value="">Pilih Data</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 row" style="padding-left: 7.5px;padding-right: 0px;padding-top: 15px;">
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Currency </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <select name="bacurrecnynk" id="cmb_currecny" class="form-control">
                            <option value="">Pilih Data</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">
                        <label class="lbl-src">Jenis Pembayaran </label>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <select name="jenis_pemabayaran" id="cmb_jenis_pemabayaran" class="form-control">
                            <option value="">Pilih Data</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="padding-right: 0px;">&nbsp;</div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <button onclick="search()" class="btn btn-primary" style="width:100%; border-radius: 3px">Search</button>
                    </div>
                </div>
            </div>
            <div class="list-data" style="margin-top:25px;">
                <div class="panel panel-default">
                    <div class="panel-body panel-custom">
                        <table id="table-rekapitulasi-reject" class="table table-bordered table-striped">
                            <thead style="font-size: 12px">
                            <tr>
                                <th>NO</th>
                                <th>ID VALAS</th>
                                <th>VENDOR</th>
                                <th>JENIS PEMBAYARAN</th>
                                <th>ID_UNIT</th>
                                <th>CURRENCY</th>
                                <th>TOTAL TAGIHAN</th>
                                <th>TGL JATUH TEMPO</th>
                                <th>BANK TUJUAN</th>
                                <th>BANK PEMBAYAR</th>
                                <th>NO TAGIHAN</th>
                                <th>TGL TAGIHAN</th>
                                <th>NO NOTDIN</th>
                                <th>TGL NOTDIN</th>
                                <th>COUNTDOWN</th>
                                <th>DESKRIPSI</th>
                                <th>TIPE TRANSAKSI</th>
                                <th>TGL TERIMA INVOICE</th>
                                <th>STATUS TRACKING</th>
                                <th>AKSI</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/rekapReject.js"></script>
</div>