<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 13px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }
        table td {
            font-size: 12px;
            font-weight: bold;
        }
        .btn {
            background-color: #ddd;
            border: none;
            color: black;
            padding: 10px 26px;
            text-align: center;
            font-size: 15px;
            cursor: pointer;
            margin: 2px 2px;
            transition: 0.3s;
            border-radius: 10px;
          }

          .btn:hover {
            background-color: #3e8e41;
            color: white;
          }

          div.a{
            visibility: visible;
          }

          div.b{
            visibility: hidden;
          }
          .wrapper {
                text-align: center;
            }
            .wrapper ul {
                display: inline-block;
                margin: 0;
                padding: 0;
                /* For IE, the outcast */
                zoom:1;
                *display: inline;
            }
            .wrapper li {
                float: left;
                padding: 2px 5px;
            }
          /* basic positioning */
            .legend { list-style: none; align: center;}
            .legend li { float: left; margin-right: 10px; font-size: 12px;}
            .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
            /* your colors */
            .legend .one { background-color: #F2726F;}
            .legend .two { background-color: #77D5D4; }
            .legend .three { background-color: #62B58F; }
            .legend .four { background-color: #FFC533; }
            .legend .five { background-color: #998650; }
            .legend .six { background-color: #7AC74F; }
            .legend .seven { background-color: #5ADBFF; }
            .legend .eight { background-color: #F20F2F; }
            .legend .nine { background-color: #F4D35E; }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Management</li>
        <div align="right" style="color:#778899" class="title"><h7>Tanggal : <span id="tglcetak"></span></h7></div>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: -25px; margin-bottom: 25px; min-height: 555px;">
                <div class="carousel">
                    <div class="carousel-inner">
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked"/>
                        <div class="carousel-item">
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div style="overflow-y:auto;">
                                            <table id="rencana-pembayaran-usd" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                                <thead>
                                                <tr>
                                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">RENCANA PEMBAYARAN IMPREST - KANTOR PUSAT (RUPIAH)</th>
                                                <tr style="background: #F4D35E" width="12%">
                                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
<!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                                    <th style="background: #F4D35E; text-align: center;" width="9%">BANK</th>
                                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                                    <th id="tgl1a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl2a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl3a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl4a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl5a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl6a" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
<!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                                </tr>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" align="center" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div style="overflow-y:auto;">
                                            <table id="rencana-pembayaran-eur" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                                <thead>
                                                <tr>
                                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">RENCANA PEMBAYARAN - IMPOR</th>
                                                <tr style="background: #F4D35E" width="12%">
                                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                                    <th style="background: #F4D35E; text-align: center;" width="9%">BANK</th>
                                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                                    <th id="tgl1b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl2b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl3b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl4b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl5b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl6b" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                                </tr>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" align="center" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div style="overflow-y:auto;">
                                            <table id="rencana-pembayaran-jpy" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                                <thead>
                                                <tr>
                                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">RENCANA PEMBAYARAN - IMPREST INVESTASI TERPUSAT</th>
                                                <tr style="background: #F4D35E" width="12%">
                                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                                    <th style="background: #F4D35E; text-align: center;" width="9%">BANK</th>
                                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                                    <th id="tgl1c" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl2c" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl3c" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl4c" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl5c" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl6c" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                                </tr>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div style="overflow-y:auto;">
                                            <table id="rencana-pembayaran-myr" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                                <thead>
                                                <tr>
                                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">RENCANA PEMBAYARAN - IMPREST OPERASI TERPUSAT</th>
                                                <tr style="background: #F4D35E" width="12%">
                                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                                    <th style="background: #F4D35E; text-align: center;" width="9%">BANK</th>
                                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                                    <th id="tgl1d" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl2d" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl3d" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl4d" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl5d" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl6d" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                                </tr>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div style="overflow-y:auto;">
                                            <table id="rencana-pembayaran-aud" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                                <thead>
                                                <tr>
                                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">SETTLEMENT/KEBUTUHAN - VALUTA ASING</th>
                                                <tr style="background: #F4D35E" width="12%">
                                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                                    <th style="background: #F4D35E; text-align: center;" width="9%">BANK</th>
                                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                                    <th id="tgl1e" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl2e" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl3e" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl4e" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl5e" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl6e" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                                </tr>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true" hidden=""/>
                        <div class="carousel-item">
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="card">
                                    <div class="card-block" >
                                        <div style="overflow-y:auto;">
                                            <table id="rencana-pembayaran-gbp" class="table table-rencana-realisasi table-condensed table-bordered" width="100%">
                                                <thead>
                                                <tr>
                                                    <th colspan="11" style="vertical-align: middle; text-align: center; background-color: #F4D35E;">RENCANA PEMBAYARAN - EQUIVALENT RUPIAH</th>
                                                <tr style="background: #F4D35E" width="12%">
                                                    <!--                                id="header-tanggal1"<td style="background-color: #F4D35E" width="5%">NO</td>-->
                                                    <!--                                                    <th style="background: #F4D35E" width="10%">BANK</th>-->
                                                    <th style="background: #F4D35E; text-align: center;" width="9%">BANK</th>
                                                    <th style="background: #F4D35E; text-align: center;" width="7%">KETERANGAN</th>
                                                    <th id="tgl1f" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl2f" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl3f" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl4f" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl5f" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <th id="tgl6f" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>
                                                    <!--                                                    <th id="tgl7" style="background: #F4D35E;vertical-align: middle !important; text-align: center;"  ></th>-->
                                                    <th style="background: #F4D35E;vertical-align: middle !important; text-align: center;" width="10%" >TOTAL</th>
                                                </tr>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="carousel-6" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-4" class="carousel-control next control-3">›</label>
                        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
                        <label for="carousel-5" class="carousel-control next control-4">›</label>
                        <label for="carousel-4" class="carousel-control prev control-5">‹</label>
                        <label for="carousel-6" class="carousel-control next control-5">›</label>
                        <label for="carousel-5" class="carousel-control prev control-6">‹</label>
                        <label for="carousel-1" class="carousel-control next control-6">›</label>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="row">-->

<!--        </div>-->
<!--        <div class="row">-->

<!--        </div>-->
<!--        <div class="row">-->

<!--        </div>-->
<!--        <div class="row">-->

<!--        </div>-->
<!--        <div class="row">-->

<!--        </div>-->
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/rencana_pembayaran_per_rupiah.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript">

		function renHari() {
			element = document.querySelector('#column-rencana-pembayaran');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-rencana-pembayaran2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-rencana-pembayaran3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-rencana-pembayaran4');
			element.style.visibility = 'hidden';
		}

		function renMinggu() {
			element = document.querySelector('#column-rencana-pembayaran2');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-rencana-pembayaran');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-rencana-pembayaran3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-rencana-pembayaran4');
			element.style.visibility = 'hidden';
		}

		function renBulan() {
			element = document.querySelector('#column-rencana-pembayaran3');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-rencana-pembayaran2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-rencana-pembayaran');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-rencana-pembayaran4');
			element.style.visibility = 'hidden';
		}

        function renTahun() {
            element = document.querySelector('#column-rencana-pembayaran4');
			element.style.visibility = 'visible';
			element = document.querySelector('#column-rencana-pembayaran3');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-rencana-pembayaran2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-rencana-pembayaran');
			element.style.visibility = 'hidden';
		}

		function realHari() {
			element = document.querySelector('#column-realisasi-pembayaran');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-realisasi-pembayaran2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-realisasi-pembayaran3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-realisasi-pembayaran4');
			element.style.visibility = 'hidden';
		}

		function realMinggu() {
			element = document.querySelector('#column-realisasi-pembayaran2');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-realisasi-pembayaran');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-realisasi-pembayaran3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-realisasi-pembayaran4');
			element.style.visibility = 'hidden';
		}

		function realBulan() {
			element = document.querySelector('#column-realisasi-pembayaran3');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-realisasi-pembayaran2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-realisasi-pembayaran');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-realisasi-pembayaran4');
			element.style.visibility = 'hidden';
		}

        function realTahun() {
            element = document.querySelector('#column-realisasi-pembayaran4');
			element.style.visibility = 'visible';
			element = document.querySelector('#column-realisasi-pembayaran3');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-realisasi-pembayaran2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-realisasi-pembayaran');
			element.style.visibility = 'hidden';
		}

		function ppHari() {
            element = document.querySelector('#chart-penerimaan-penjualan1');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-penerimaan-penjualan2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-penerimaan-penjualan3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-penerimaan-penjualan4');
			element.style.visibility = 'hidden';
		}

		function ppMinggu() {
            element = document.querySelector('#chart-penerimaan-penjualan2');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-penerimaan-penjualan1');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-penerimaan-penjualan3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-penerimaan-penjualan4');
			element.style.visibility = 'hidden';
		}

		function ppBulan() {
            element = document.querySelector('#chart-penerimaan-penjualan3');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-penerimaan-penjualan2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-penerimaan-penjualan1');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-penerimaan-penjualan4');
			element.style.visibility = 'hidden';
		}

        function ppTahun() {
            element = document.querySelector('#chart-penerimaan-penjualan4');
			element.style.visibility = 'visible';
            element = document.querySelector('#chart-penerimaan-penjualan2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#chart-penerimaan-penjualan3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#chart-penerimaan-penjualan1');
			element.style.visibility = 'hidden';
		}

        function epHari() {
            element = document.querySelector('#column-estimasi-penerimaan1');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-estimasi-penerimaan2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-estimasi-penerimaan3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-estimasi-penerimaan4');
			element.style.visibility = 'hidden';
		}

        function epMinggu() {
            element = document.querySelector('#column-estimasi-penerimaan2');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-estimasi-penerimaan1');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-estimasi-penerimaan3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-estimasi-penerimaan4');
			element.style.visibility = 'hidden';
		}

        function epBulan() {
            element = document.querySelector('#column-estimasi-penerimaan3');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-estimasi-penerimaan2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-estimasi-penerimaan1');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-estimasi-penerimaan4');
			element.style.visibility = 'hidden';
		}

        function epTahun() {
            element = document.querySelector('#column-estimasi-penerimaan4');
			element.style.visibility = 'visible';
            element = document.querySelector('#column-estimasi-penerimaan2');
			element.style.visibility = 'hidden';
            element = document.querySelector('#column-estimasi-penerimaan3');
			element.style.visibility = 'hidden';
			element = document.querySelector('#column-estimasi-penerimaan1');
			element.style.visibility = 'hidden';
		}

	</script>
</div>
