<div th:fragment="stylesheets-backend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        table {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
        }
        table th {
            font-size: 12px;
            vertical-align: middle;
        }
        table td {
            font-size: 12px;
            text-align: center;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Dashboard Saldo Rekening Rupiah</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Receipt</b></h6></div>
                        <div align="center"><h7><b>Rp. xxx.xxx.xxx,xx</b></h7></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Imprest Kantor Pusat</b></h6></div>
                        <div align="center"><h7><b>Rp. xxx.xxx.xxx,xx</b></h7></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Imprest Operasi</b></h6></div>
                        <div align="center"><h7><b>Rp. xxx.xxx.xxx,xx</b></h7></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Imprest Investasi</b></h6></div>
                        <div align="center"><h7><b>Rp. xxx.xxx.xxx,xx</b></h7></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Impor</b></h6></div>
                        <div align="center"><h7><b>Rp. xxx.xxx.xxx,xx</b></h7></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Table</b></h6></div>
                        <div style="overflow-y:auto;">
                            <table id="table-valuta_asing" class="table table-bordered">
                                <thead>
                                <tr >
                                    <th style="text-align: center">BANK</th>
                                    <th style="text-align: center">RECEIPT</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Imprest Kantor Pusat</b></h6></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Chart</b></h6></div>
                        <div id="chart-container" style="height: 35rem; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Chart</b></h6></div>
                        <div id="chart-container2" style="height: 35rem; width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Jasa Giro Optimasi Dana IDR</b></h6></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-block">
                        <div><h6><b>Akumulasi Jasa Giro Optimasi Dana IDR</b></h6></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/saldo_rekening_rupiah.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>
