<div th:fragment="stylesheets-backend">
    <style>
        th {
            font-size: 12px;
            text-align: center;
            vertical-align: middle
        }
        .panel-custom {
            overflow-x: hidden !important;
        }
        div.dataTables_paginate{
            float: right !important;
        }
        #table-tracking_ket td{
            padding : 0.35rem;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Tracking</li>
    </ol>
    <div class="container-fluid">
        <div id="filter">
            <div class="form-group">
                <div class="animated fadeIn" align="center">
                    <H5 style="cursor: default">Masukkan Kata Kunci</H5>
                    <h6>(Dokumen Number, Group ID SAP, Oss Id, Amount, Amount Bayar, Vendor, Customer)</h6>
                    <div class="col-lg-6 col-md-8 col-sm-5">
                        <input type="text" class="form-control" id="search-no-tagihan" placeholder="Kata kunci.." list="data-no-tagihan"/>
                        <datalist id="data-no-tagihan">
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="form-group" align="center">
                <div class="animated fadein" style="width: 300px">
                    <button onclick="getDataTracking()" class="btn btn-primary col-md-6" style="width: 100%; cursor: pointer">Track</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="all_table" style="display: none;padding-left: 20px">
                <div class="panel panel-default">
                    <div class="panel-body panel-custom">
                        <table width="3000px" id="table-tracking" class="table table-condensed table-striped table-bordered">
                            <thead style="font-size: 12px">
                            <tr>
                                <th width="2%">COMPANY CODE</th>
                                <th>DOCUMENT NUMBER</th>
                                <th>FISCAL YEAR</th>
                                <th>LINE ITEM</th>
                                <th>DOCUMENT DATE</th>
                                <th>POSTING DATE</th>
                                <th>ENTRY DATE</th>
                                <th>TRANSACTION TYPE</th>
                                <th width="20%">CURRENCY</th>
                                <th width="20%">EXCHANGE RATE</th>
                                <th width="20%">AMOUNT</th>
                                <th>NOMINAL DIBAYAR</th>
                                <th>ITEM TEXT</th>
                                <th>VENDOR NAME</th>
                                <th>DUE ON</th>
                                <th>TGL RENCANA BAYAR</th>
                                <th>HOUSE BANK</th>
                                <th>BANK BENEF</th>
                                <th width="2%">GROUP ID</th>
                                <th width="2%">OSS ID</th>
                                <th>POSISI DATA</th>
                                <th width="2%">DETAIL</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="detail-tracking-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Detail Tracking</h5>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="view-table" id="div-table-tracking_ket">
                            <table width="100%" id="table-tracking_ket" class="table table-bordered table-condensed"
                                   style="margin-bottom: 0px !important; margin-top: 15px">
                                <thead>
                                <tr>
                                    <th width="25%" style="vertical-align: middle !important;background: #8DB4E2;" rowspan="2">
                                        Tanggal / Jam
                                    </th>
                                    <th width="50" style="vertical-align: middle !important;background: #8DB4E2;" rowspan="2">
                                        Keterangan
                                    </th>
                                    <th width="25" style="vertical-align: middle !important;background: #8DB4E2;" rowspan="2">
                                        Di Update Oleh
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/tracking.js"></script>
</div>