<div th:fragment="stylesheets-backend">
    <style>
        button{ cursor: pointer
        }
        .table td {
            padding-right: 0.75rem;
            padding-bottom: 0.25rem;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right !important;
            text-align: left !important;
            padding-left: 3px;
            padding-right: 75px;
        }

        .lbl-src {
            font-size: 12px;
        }

        .panel-custom {
            overflow-x: hidden !important;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: right !important;
        }
    </style>
</div>
<main class="main" th:fragment="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="cursor: default">Upload Saldo Bank</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Upload Saldo Bank</h5>
                        <div class="form-group mb-3">
                            <input type="file" class="form-control" id="file-xls"
                                   accept="application/vnd.ms-excel"/>
                        </div>
                        <button class="btn btn-primary" onclick="upload_server_xls()">Upload <i class="fas fa-cloud-upload-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Upload Subsidi, Pinjaman, Dropping</h5>
                        <div class="form-group mb-3">
                            <input type="file" class="form-control" id="file-xls-psd"
                                   accept="application/vnd.ms-excel"/>
                        </div>
                        <button class="btn btn-primary" onclick="upload_server_psd()">Upload <i class="fas fa-cloud-upload-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Cetak All Invoice</h5>
                        <button class="btn btn-success" onclick="cetakExcelAllInvoice()">Cetak <i class="fas fa-file-excel"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Cetak Rencana Imprest</h5>
                        <button class="btn btn-success" onclick="cetakRencanaImprest()">Cetak <i class="fas fa-file-excel"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Cetak Realisasi Imprest</h5>
                        <button class="btn btn-success" onclick="cetakRealisasiImprest()">Cetak <i class="fas fa-file-excel"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:fragment="scripts-backend">
    <script src="/static/js/backend/controller/uploadSaldoBank.js"></script>
    <!--<script src="static/js/jquery.mask.min.js"></script>-->
</div>