<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 13px;
            vertical-align: middle
        }

        td {
            font-size: 11px;
        }

        td, th {
            padding: 5px !important;
        }
        .carousel-control{
            width : 8% !important;
        }
    </style>
</div>
<div style="margin-top: -15px;min-height: 400px" class="app-body col-md-12" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="col-md-12">
            <div align="center" class="title"><h5><b>PT. PLN (Persero) Divisi Treasury</b></h5></div>
            <div align="center" class="title"><h5><b>DASHBOARD L'METALLICA TGL : <span id="tglcetak"></span></b></h5></div>
        </div>
        <div class="col-md-12" style="padding-right: 0px;" align="right">
            <div id="chart-carousel" style="min-height: 465px; margin-bottom: 30px" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" align="center">
                        <div class="col-md-12" style="padding-top: 15px;">
                            <!--                            <div><h2><b>Pareto Columns</b></h2></div>-->
                            <div class="col-md-6">
                                <div class="col-md-12" style="margin-top: 50px; margin-bottom: 50px">
<!--                                    <div><h6><b>4A</b></h6></div>-->
                                    <div id="chart-container" style="height: 35rem; width: 100%;"></div>
                                </div>
                            </div>
                            <!--                            <div><h2><b>Stacked Columns</b></h2></div>-->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="col-md-12" style="margin-top: 50px; margin-bottom: 50px">
    <!--                                            <div><h6><b>4B</b></h6></div>-->
                                            <div id="column-realisasi-pembayaran" style="height: 35rem; width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" align="center">
                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px;">
                            <div class="view-table" style="margin-bottom: 25px;">
                                <table id="dash_real_bank_curr" class="table table-bordered" width="100%">
                                    <thead>
                                    <tr style="background-color: #F4D35E;">
                                        <th colspan="13" style="text-align: center">REALISASI PEMBAYARAN - BANK (CURRENCY)</th>
                                    </tr>
                                    <tr style="background-color: #67a2d8; color: black; text-align: center">
                                        <td rowspan="2" style="vertical-align: middle">JENIS PEMBYARAN</td>
                                        <td colspan="3">HARI H</td>
                                        <td colspan="3">1 MINGGU</td>
                                        <td colspan="3">1 BULAN</td>
                                        <td colspan="3">1 TAHUN</td>
                                    </tr>
                                    <tr style="background-color: #67a2d8; color: black; text-align: center">
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item" align="center">
                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px;">
                            <div class="view-table" style="margin-bottom: 25px;">
                                <table id="dash_real_cashcode" class="table table-bordered" width="100%">
                                    <thead>
                                    <tr style="background-color: #F4D35E;">
                                        <th colspan="13" style="text-align: center">REALISASI PEMBAYARAN - JENIS (USD/EUR/JPY/MYR)</th>
                                    </tr>
                                    <tr style="background-color: #67a2d8; color: black; text-align: center">
                                        <td rowspan="2" style="vertical-align: middle">JENIS PEMBYARAN</td>
                                        <td colspan="3">HARI H</td>
                                        <td colspan="3">1 MINGGU</td>
                                        <td colspan="3">1 BULAN</td>
                                        <td colspan="3">1 TAHUN</td>
                                    </tr>
                                    <tr style="background-color: #67a2d8; color: black; text-align: center">
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item" align="center">
                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px;">
                            <div class="view-table" style="margin-bottom: 15px;">
                                <table id="dash_real_jenis" class="table table-bordered" width="100%">
                                    <thead>
                                    <tr style="background: #F4D35E">
                                        <th colspan="13" style="text-align: center">REALISASI PEMBAYARAN - OPERASI/INVESTASI/DEBT SERVICE</th>
                                    </tr>
                                    <tr style="background-color: #67a2d8; color: black; text-align: center">
                                        <td rowspan="2" style="vertical-align: middle">JENIS PEMBYARAN</td>
                                        <td colspan="3">HARI H</td>
                                        <td colspan="3">1 MINGGU</td>
                                        <td colspan="3">1 BULAN</td>
                                        <td colspan="3">1 TAHUN</td>
                                    </tr>
                                    <tr style="background-color: #67a2d8; color: black; text-align: center">
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                        <td>ori qur</td>
                                        <td>eq idr</td>
                                        <td>%</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#chart-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#chart-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/dashboardcorpay/realisasi_pembayaran.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>

