<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 13px;
            vertical-align: middle
        }

        td {
            font-size: 11px;
        }

        td, th {
            padding: 5px !important;
        }
        .carousel-control{
            width : 8% !important;
        }

        .wrapper {
            text-align: center;
        }
        .wrapper ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            /* For IE, the outcast */
            zoom:1;
            *display: inline;
        }
        .wrapper li {
            float: left;
            padding: 2px 5px;
        }
      /* basic positioning */
        .legend { list-style: none; align: center;}
        .legend li { float: left; margin-right: 10px; font-size: 12px;}
        .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
        /* your colors */
        .legend .one { background-color: #ED6A5A;}
        .legend .two { background-color: #62B58F; }
        .legend .three { background-color: #FFC533; }
        .legend .four { background-color: #77D5D4; }
        .legend .five { background-color: #998650; }
        .legend .six { background-color: #7AC74F; }
        .legend .seven { background-color: #5ADBFF; }
        .legend .eight { background-color: #F20F2F; }
        .legend .nine { background-color: #F4D35E; }
    </style>
</div>
<div style="margin-top: -15px;min-height: 400px" class="app-body col-md-12" th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="col-md-12">
            <div align="center" class="title"><h5><b>PT. PLN (Persero) Divisi Treasury</b></h5></div>
            <div align="center" class="title"><h5><b>DASHBOARD L'METALLICA TGL : <span id="tglcetak"></span></b></h5></div>
        </div>
        <div class="col-md-12" style="padding-right: 0px;" align="right">
            <div id="chart-carousel" style="min-height: 300px; margin-bottom: 25px" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" align="center">
                        <div class="col-md-12" style="padding-top: 15px;">
                            <div align="center" id="chart-rencana-pembayaran1"></div>
                            <div class="wrapper" style="margin-top: 10px">
                                <ul class="legend">
                                    <li><span class="five"></span> RENCANA PEMBAYARAN PRIMER (0-2 HARI)</li>
                                    <li><span class="six"></span> RENCANA PEMBAYARAN SEKUNDER (3-10 HARI)</li>
                                    <li><span class="seven"></span> RENCANA PEMBAYARAN TERSIER (11-30 HARI)</li>
                                </ul>
                            </div>
                            <div class="wrapper" style="margin-top: 5px">
                                <ul class="legend">
                                    <li><span class="nine"></span> IMPREST</li>
                                    <li><span class="eight"></span> RECEIPT</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 15px;">
                            <div class="col-md-2" style="padding-top: 0px;"></div>
                            <div class="col-md-8" style="padding-top: 0px;">
                                <div id="column-rencana-pembayaran" style="height: 35rem; width: 100%;"></div>
                            </div>
                            <div class="col-md-2" style="padding-top: 0px;"></div>

                        </div>
                    </div>
                    <div class="item" align="center">
                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px;">
                            <div class="view-table">
                                <table id="table-rencana-pembayaran" class="table table-bordered" style="margin-bottom: 25px">
                                    <thead>
                                    <tr>
                                        <th style="background-color: #F4D35E" width="100%" colspan="6">RENCANA PEMBAYARAN</th>
                                    <tr>
                                        <th style="background-color: #67a2d8" width="25%">JENIS PEMBAYARAN</th>
                                        <th style="background: #67a2d8" width="15%">HARI 0</th>
                                        <th style="background: #67a2d8" width="15%">HARI 1</th>
                                        <th style="background: #67a2d8" width="15%">HARI 2</th>
                                        <th style="background: #67a2d8" width="15%">MINGGU 1</th>
                                        <th style="background: #67a2d8" width="15%">BULAN 1</th>
                                    </tr>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="item" align="center">
                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px; margin-bottom: 25px;">
                            <div class="view-table" >
                                <table id="table-investasi-operasi" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="background-color: #F4D35E" width="100%" colspan="8">RENCANA PEMBAYARAN - INVESTASI/OPERASI</th>
                                    <tr>
                                        <th style="background-color: #67a2d8" width="12.5%">TANGGAL</th>
                                        <th style="background: #67a2d8" width="12.5%">JENIS PEMBAYARAN</th>
                                        <th style="background: #67a2d8" width="12.5%">IDR</th>
                                        <th style="background: #67a2d8" width="12.5%">USD</th>
                                        <th style="background: #67a2d8" width="12.5%">EUR</th>
                                        <th style="background: #67a2d8" width="12.5%">JPY</th>
                                        <th style="background: #67a2d8" width="12.5%">MYR</th>
                                        <th style="background: #67a2d8" width="12.5%">EQ IDR</th>
                                    </tr>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
<!--                    <div class="item" align="center">-->
<!--                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px;">-->
<!--                            <div class="view-table">-->
<!--                                <table class="table table-bordered" id="dash_rencana_imprest" width="100%" style="margin-bottom: 25px">-->
<!--                                    <thead>-->
<!--                                    <tr style="background: #F4D35E;">-->
<!--                                        <th colspan="11" style="text-align: center;">RENCANA PEMBAYARAN - IMPREST OPERASI TERPUSAT/ INVESTASI TERPUSAT/ IMPREST KANTOR PUSAT/ IMPOR</th>-->
<!--                                    </tr>-->
<!--                                    <tr id="header_tgl_rencana_imprest" style="background-color: #67a2d8; color: black; text-align: center">-->
<!--                                        <th style="background-color: #67a2d8">BANK</th>-->
<!--                                        <th style="background-color: #67a2d8">BANK</th>-->
<!--                                        <th style="background-color: #67a2d8">KETERANGAN</th>-->
<!--                                        <th id="tgl1b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl2b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl3b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl4b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl5b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl6b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl7b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl8b" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="item" align="center" >-->
<!--                        <div class="col-md-12" style="margin-top: 30px; padding-right: 30px; padding-left: 30px;">-->
<!--                            <div class="view-table">-->
<!--                                <table id="rencana_imprest_valas" class="table table-bordered" width="100%" style="margin-bottom: 25px">-->
<!--                                    <thead>-->
<!--                                    <tr style="background: #F4D35E;">-->
<!--                                        <th colspan="11" style="text-align: center;">RENCANA PEMBAYARAN - IMPREST VALAS USD/EUR/JPY/OTHER</th>-->
<!--                                    </tr>-->
<!--                                    <tr id="header_tgl_imprest_valas" style="background-color: #67a2d8; color: black; text-align: center;">-->
<!--                                        <th>BANK</th>-->
<!--                                        <th>BANK</th>-->
<!--                                        <th style="background-color: #67a2d8">KETERANGAN</th>-->
<!--                                        <th id="tgl1a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl2a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl3a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl4a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl5a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl6a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl7a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                        <th id="tgl8a" style="background: #67a2d8;vertical-align: middle !important;"  ></th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <a class="left carousel-control" href="#chart-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#chart-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/dashboardcorpay/rencana_pembayaran.js"></script>
    <script src="/static/js/backend/fusioncharts/fusioncharts.js"></script>
    <script src="/static/js/backend/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
</div>

<script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("datetime").innerHTML = m + "/" + d + "/" + y;
</script>

