<div th:fragment="stylesheets-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        th {
            font-size: 11px;
            vertical-align: middle
        }
        td{font-size: 10px; vertical-align: middle !important; }

        td, th {
            padding: 1px !important;
        }
        .title-table-new{
            font-size: 9px;
        }

    </style>
</div>
<div class="app-body col-md-12" style="min-height: 400px;" th:fragment="content"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="col-md-12" align="center">
            <h6>
                <b>POSISI SALDO TGL : <span id="tglcetak">-</span></b>
            </h6>
        </div>
        <div class="view-table" id="div-table-main">
            <table width="100%" id="table-saldo-awal" class="table table-bordered"
                   style="margin-bottom: 25px !important;">
                <thead>
                <tr>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="9%;" rowspan="2">SALDO
                        AWAL
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="9%;" rowspan="2">TOTAL
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>POTENSI PENDAPATAN PTL</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>RECEIPT</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>KMK</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>SUBSIDI</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>IMPREST OPERASI</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>IMPREST INVESTASI</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>IMPREST</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>IMPREST IMPOR</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>IMPREST VALAS</td>
                    <td align="right">0</td>
                </tr>
                <tr>
                    <td>TOTAL</td>
                    <td align="right">0</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12" align="center">
                <h6>
                    <b>JENIS PEMBAYARAN</b>
                </h6>
            </div>
            <table width="100%" id="table-main" class="table table-bordered" style="margin-bottom: 15px !important;">
                <thead>
                <tr>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2">JENIS
                        PEMBAYARAN
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh1">TAGIHAN 1
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh2">TAGIHAN 2
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh3">TAGIHAN 3
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh4">TAGIHAN 4
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh5">TAGIHAN 5
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh6">TAGIHAN 6
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"
                        id="tgh7">TAGIHAN 7
                    </th>
                    <th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2">TOTAL
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!--<table width="100%" id="table-saldo-akhir" class="table table-bordered"-->
                   <!--style="margin-bottom: 25px !important;margin-top: 25px;">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="10%;" rowspan="2">SALDO-->
                        <!--AKHIR-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh1">TAGIHAN 1-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh2">TAGIHAN 2-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh3">TAGIHAN 3-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh4">TAGIHAN 4-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh5">TAGIHAN 5-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh6">TAGIHAN 6-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2"-->
                        <!--id="tot_tgh7">TAGIHAN 7-->
                    <!--</th>-->
                    <!--<th style="background: #a5bfff;vertical-align: middle !important;" width="11.11%;" rowspan="2">-->
                        <!--TOTAL-->
                    <!--</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
</div>
<div th:fragment="scripts-frontend" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/static/js/frontend/verifikatoridr/jenis_pembayaran.js"></script>
</div>