<header th:fragment="header-param" class="header" id="#head-nav-backend">
  <span href="index.html" class="logo">
    <big>VALAS</big>
  </span>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars fa-lg"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown profile-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                        <span class="username" th:text ="${#authentication.getPrincipal().getUsername()}">Me</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu box profile">
                        <li>
                            <div class="up-arrow"></div>
                        </li>
                        <li>
                            <form id="form-logout" th:action="@{/logout}" method="post">
                            </form>
                            <a href="javascript:void(0)" onclick="logout()"><i class="fa fa-power-off"></i>Log Out</a>
                            <script>
                                function logout() {
                                    document.getElementById("form-logout").submit();
                                }
                            </script>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>