<aside th:fragment="menu-param" class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR')">
                <a href="#" id="menu-home" th:href="@{/verifikator/imprst_valas_and_global_bond}">
                    <i class="fa fa-pie-chart"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR','ROLE_USER_KECIL','ROLE_USER_KASIR','ROLE_USER_DIVKU','ROLE_USER_PKK')">
                <a href="#" id="menu-rekapitulasi" th:href="@{/operator/rekapitulasi_data}">
                    <i class="fa fa-folder-open"></i><span>Rekapitulasi Data</span>
                </a>
            </li>
            <li class="" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR','ROLE_USER_KECIL','ROLE_USER_KASIR','ROLE_USER_DIVKU','ROLE_USER_PKK')">
                <a href="#" id="menu-realisasi" th:href="@{/operator/realisasi_pembayaran}">
                    <i class="fa fa-folder-open"></i><span>Realisasi Pembayaran</span>
                </a>
            </li>
            <li id="menu-parent-derivatif" class="menu" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR','ROLE_USER_KECIL')">
                <a href="#">
                    <i class="fa fa-folder"></i><span>Derivatif</span>
                    <i id="icon-angle-derivatif" class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sub-menu">
                    <li><a id="menu-derivatif-forward" href="" th:href="@{/operator/derivatif_forward}">Forward</a></li>
                    <li><a id="menu-derivatif-swap" href="" th:href="@{/operator/derivatif_swap}">Swap</a></li>
                    <li><a id="menu-derivatif-cso" href="" th:href="@{/operator/derivatif_cso}">Call Spread Option</a></li>
                </ul>
            </li>
            <li class="" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR','ROLE_USER_KECIL')">
                <a href="#" id="menu-deposito" th:href="@{/operator/deposito}">
                    <i class="fa fa-folder-open"></i><span>Deposito</span>
                </a>
            </li>
            <li class="" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR','ROLE_USER_KECIL')">
                <a href="#" id="menu-tripartite" th:href="@{/operator/tripartite}">
                    <i class="fa fa-folder-open"></i><span>Tripartite</span>
                </a>
            </li>
            <li class="" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR','ROLE_USER_KECIL')">
                <a href="#" id="menu-pembelian-valas" th:href="@{/operator/pembelian_valas}">
                    <i class="fa fa-folder-open"></i><span>Pembelian valas</span>
                </a>
            </li>
            <li class="">
                <a href="#" id="menu-kurs" th:href="@{/operator/kurs}">
                    <i class="fa fa-info-circle"></i><span>Kurs</span>
                </a>
            </li>
            <li id="menu-parent-master" sec:authorize="hasAnyAuthority('ROLE_USER_BESAR')" class="menu">
                <a href="#">
                    <i class="fa fa-folder"></i><span>Master</span>
                    <i id="icon-angle-master" class="fa fa-angle-left pull-right"></i>
                </a>
                <!--<ul class="sub-menu">-->
                    <!--<li><a href="#" th:href="@{/operator/currency}">Currency</a></li>-->
                <!--</ul>-->
                <ul class="sub-menu">
                    <li><a href="#" id="menu-master-currency" th:href="@{/operator/currency}">Currency</a></li>
                    <li><a href="#" id="menu-master-bank" th:href="@{/operator/bank}">Bank</a></li>
                    <li><a href="#" id="menu-master-vendor" th:href="@{/operator/vendor}">Vendor</a></li>
                    <li><a href="#" id="menu-master-jenis_pembayaran" th:href="@{/operator/jenis_pembayaran}">Jenis Pembayaran</a></li>
                    <li><a href="#" id="menu-master-unit" th:href="@{/operator/unit}">Unit</a></li>
                    <li><a href="#" id="menu-master-tenor" th:href="@{/operator/tenor}">Tenor</a></li>
                    <li><a href="#" id="menu-master-sumber_dana" th:href="@{/operator/sumber_dana}">Sumber Dana</a></li>
                    <li><a href="#" id="menu-master-keterangan" th:href="@{/operator/keterangan}">Keterangan</a></li>
                    <li><a href="#" id="menu-master-user" th:href="@{/operator/user}">User</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
