<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="UI - For calculte valas"/>
    <meta name="author" content="ICON PLN"/>
    <meta name="keyword" content="Valas Administrator"/>
    <link rel="shortcut icon" href="/static/new-backend/img/icon.png"/>

    <title>Valas Administrator</title>

    <!-- Icons -->
    <link href="/static/css/jquery-ui.css" rel="stylesheet"/>
    <link href="/static/new-backend/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/new-backend/css/simple-line-icons.css" rel="stylesheet"/>

    <!-- Main styles for this application -->
    <link href="/static/new-backend/css/style.css" rel="stylesheet"/>
    <link href="/static/css/backend/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="/static/css/select2.css" rel="stylesheet"/>
    <link href="/static/js/jquery-toast-plugin-1.3.2/dist/jquery.toast.min.css" rel="stylesheet"/>
    <style>
        td.details-control {
            background: url('/static/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/static/images/details_close.png') no-repeat center center;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            float: left !important;
            text-align: left !important;
        }

        .dataTables_length {
            padding-left: -10px !important;
        }

        .panel-custom {
            overflow-x: scroll;
            padding: 10px 0px 10px 0px !important;
        }

        .dataTables_wrapper {
            padding: 0px !important;
        }

        .color-active {
            color: darkslategray;
        }

        .datatables_action {
            text-align: right;
        }

        .datatables_action-center {
            text-align: center;
        }
        .th-middle{
            vertical-align: middle !important;
            text-align: center !important;
        }
        #loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            margin-top: 22.5%;
        }

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <div th:replace="${view} :: stylesheets-backend"></div>



</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<div style="display: none" class="col-md-12" id="loader-div" align="center"><div id="loader"></div></div>
<header th:replace="operator/shared/new-header :: header-param" class="app-header navbar">
</header>

<div class="app-body">
    <div class="sidebar" th:replace="operator/shared/new-menu :: menu-param">
    </div>

    <main th:replace="${view} :: content" class="main">
    </main>

    <!-- Modal Rekap Data -->
    <div id="edit-rekap-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Form Rekapitulasi Pembayaran</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pTipeTransaksi"><span style="color: red">*)</span>&nbsp;Tipe
                                    Transaksi:</label>
                                <select id="pTipeTransaksi" class="form-control" required="required" disabled="true">
                                    <option value="1">OPERASI</option>
                                    <option value="2">INVESTASI</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pJenisPemabayaran"><span style="color: red">*)</span>&nbsp;Jenis
                                    Pembayaran:</label>
                                <select id="pJenisPemabayaran" class="form-control" required="required" disabled="true">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pTglJatuhTempo">Tanggal Jatuh
                                    Tempo:</label>
                                <input type="text" class="form-control" id="pTglJatuhTempo" required="required" disabled="true"/>
                            </div>
                            <div class="form-group">
                                <label for="pVendor"><span style="color: red">*)</span>&nbsp;Vendor/Pengembang/Pemasok/Loan:</label>
                                <select id="pVendor" class="form-control" required="required" disabled="true">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pCurrecny"><span style="color: red">*)</span>&nbsp;Currency:</label>
                                <select id="pCurrecny" class="form-control" required="required" disabled="true">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pNilaiTagihan"><span style="color: red">*)</span>&nbsp;Nilai
                                    Tagihan:</label>
                                <input type="number" class="form-control" id="pNilaiTagihan" required="required" disabled="true"/>
                            </div>
                            <div class="form-group">
                                <label for="pBankTujuan"><span style="color: red">*)</span>&nbsp;Bank Tujuan
                                    Pembayaran:</label>
                                <select id="pBankTujuan" class="form-control" required="required" disabled="true">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-top: 40px">
                                <label for="pJenisPemabayaran">Ket : <span style="color: red">*) Tidak Boleh Kosong</span>&nbsp;</label><br/>
                                <label>Gunakan titik (.) untuk koma (,)</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pBankPembayar"><span style="color: red">*)</span>&nbsp;Bank
                                    Pembayar:</label>
                                <select id="pBankPembayar" class="form-control" required="required" disabled="true">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pUnitPenerima"><span style="color: red">*)</span>&nbsp;Nama
                                    Kontrak/Loan/Unit
                                    Penerima/Pembangkit:</label>
                                <select id="pUnitPenerima" class="form-control" required="required" disabled="true">
                                    <option value="">Pilih Data</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pTglTerimaInvoice"><span style="color: red">*)</span>&nbsp;Tanggal Tagihan
                                    Diterima:</label>
                                <input type="text" class="form-control" id="pTglTerimaInvoice" disabled="true"/>
                            </div>
                            <div class="form-group">
                                <label for="pTglTagihan">Tanggal Tagihan:</label>
                                <input type="text" class="form-control" id="pTglTagihan" disabled="true"/>
                            </div>
                            <div class="form-group">
                                <label for="pNoTagihan">No Tagihan:</label>
                                <input type="text" class="form-control" list="data-no-tagihan" autocomplete="on" name="pNoTagihan"
                                       id="pNoTagihan" disabled="true"/>
                                <datalist id="data-no-tagihan"></datalist>
                            </div>
                            <div class="form-group">
                                <label for="pNoNotaDinas">No Nota Dinas:</label>
                                <input type="text" class="form-control" id="pNoNotaDinas" disabled="true"/>
                            </div>
                            <div class="form-group">
                                <label for="pTglNotaDinas">Tanggal Nota Dinas:</label>
                                <input type="text" class="form-control" id="pTglNotaDinas" disabled="true"/>
                            </div>
                            <div class="form-group">
                                <label for="pKeterangan">Keterangan:</label>
                                <input type="text" class="form-control" id="pKeterangan" list="data-keterangan" disabled="true"/>
                                <datalist id="data-keterangan"></datalist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

    <!-- -->

</div>
<footer class="app-footer" style="cursor: default">
    <a><b>L'Metallica</b></a> © 2017 Administrator.
    <span class="float-right">Powered by <b><a>ICON </a></b>
        </span>
</footer>
</body>
<!-- Bootstrap and necessary plugins -->
<script src="/static/new-backend/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/new-backend/bower_components/tether/dist/js/tether.min.js"></script>
<script src="/static/new-backend/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/backend/jquery.dataTables.min.js"></script>
<script src="/static/js/backend/dataTables.bootstrap4.min.js"></script>
<script src="/static/new-backend/bower_components/pace/pace.min.js"></script>
<!--<script src="/static/js/sockjs.min.js"></script>-->
<!--<script src="/static/js/stomp.min.js"></script>-->


<!-- GenesisUI main scripts -->
<script src="/static/new-backend/js/app.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/show-dialog.js"></script>
<script src="/static/js/maskedinput/jquery.maskmoney.js"></script>
<script src="/static/js/maskedinput/jquery.mask.min.js"></script>
<script src="/static/js/maskedinput/FormatMoney.js"></script>
<script src="/static/js/pdfmake/pdfmake.min.js"></script>
<script src="/static/js/pdfmake/vfs_fonts.js"></script>
<script src="/static/js/backend/coreapps.js"></script>
<script src="/static/js/accounting.min.js"></script>

<script src="/static/js/sockjs.min.js"></script>
<script src="/static/js/stomp.min.js"></script>

<script src="/static/js/jquery-toast-plugin-1.3.2/dist/jquery.toast.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var roleUser = [[${#authentication.getAuthorities().toString()}]]
    var thp1 = roleUser.replace("[", "")
    var thp2 = thp1.replace("]", "")
    var username = [[${#authentication.getPrincipal().getUsername().toString()}]]
    var newRoleUser = thp2.split(", ");

    connect();
    getNotifications();

    var topics = [[${#authentication.getPrincipal().getTopics()}]]
    function connect() {
        sockJsProtocols = ["xhr-streaming", "xhr-polling"];
        var socket = new SockJS(baseUrl + "liquiditas", null, {transports: sockJsProtocols});
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            topics.forEach(function (data) {
                stompClient.subscribe("/topic/"+data, function(message) {
                    showMessageOutput(message);
                });
            });
        },function(msg) {
            console.log("err msg : (" + msg.message + ")")
        });
    }

    function disconnect() {
        if(stompClient != null) {
            stompClient.disconnect();
            console.log("Disconnected");
        }

    }

    function showMessageOutput(message) {
        var data = JSON.parse(message.body);
        var added =
            '<a href="#" class="dropdown-item">\n' +
            '  <div class="message">\n' +
            '    <div>\n' +
            '      <small class="text-muted" id="notification_title">'+data.title+'</small>\n' +
            '      <small class="text-muted float-right mt-1" id="notification_date">'+"now"+'</small>\n' +
            '    </div>\n' +
            '    <div class="small text-muted text-truncate" id="notification_body">'+data.message+'</div>\n' +
            '  </div>\n' +
            '</a>\n';

        var newItem = document.createElement('li');
        newItem.style.cssText = 'background-color:#f7f8f9';

        newItem.onclick = function () {
            showNotifModal(data.id, data.additionalInfo);
        };
        newItem.setAttribute("id", data.id);
        var divNode = document.createElement("div");
        divNode.innerHTML = added;
        newItem.appendChild(divNode);

        var list = document.getElementById("notification_div");
        list.insertBefore(newItem, list.childNodes[2]);

        var count = parseInt($("#notification_count").html());
        count+=1;
        $("#notification_count").html(count);
        $("#notification_count_title").html('You have ' + count + ' unread message.');
        $.toast({
            text : data.message,
            hideAfter : 5000,              // `false` to make it sticky or time in miliseconds to hide after
            textAlign : 'left',            // Alignment of text i.e. left, right, center
            position : 'bottom-right'       // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values to position the toast on page
        })

    }

    //for send message to socket server
    // function sendContent() {
    //     stompClient.send("/push/content", {}, "test send from client");
    // }


    function getNotifications() {
        $.ajax({
            type: "GET",
            url: baseUrl + "notification/get_notifications",
            async: true,
            success: function(res) {
                var drop_down =
                    '<ul id="notification_div" class="dropdown-menu dropdown-menu-right dropdown-menu-lg show" style="width:750px !important;" >\n' +
                    '  <div class="dropdown-header text-center">\n' +
                    '   <strong id="notification_count_title"></strong>\n' +
                    '  </div>\n' +
                    '</ul>\n';
                var count = 0;
                $("#notification_li").append(drop_down);
                res.forEach(function (data) {
                    var backgroundColor = "";
                    if (data.seen == true) {
                        backgroundColor = '<li id="'+data.id+'" style="background-color: white" onclick="showNotifModal(null, \''+data.additionalInfo+'\')">\n';
                    } else {
                        backgroundColor = '<li id="'+data.id+'" style="background-color: #f7f8f9" onclick="showNotifModal(\''+data.id+'\', \''+data.additionalInfo+'\')">\n';
                        count++;
                    }
                    var added =
                        backgroundColor +
                        '<a href="#" class="dropdown-item">\n' +
                        '  <div class="message">\n' +
                        '    <div>\n' +
                        '      <small class="text-muted" id="notification_title">'+data.title+'</small>\n' +
                        '      <small class="text-muted float-right mt-1" id="notification_date">'+new Date(data.createDate)+'</small>\n' +
                        '    </div>\n' +
                        '    <div class="small text-muted text-truncate" id="notification_body">'+data.message+'</div>\n' +
                        '  </div>\n' +
                        '</a>\n' +
                        '</li>\n';
                    $("#notification_div").append(added);
                });
                $("#notification_count").html(count);
                $("#notification_count_title").html('You have ' + count + ' unread message.');

            }
        });

    }

    function editSeenById(key) {
        $.ajax({
            type: "POST",
            url: baseUrl + "notification/edit_seen_by_id/" + key,
            async: true,
            contentType: 'application/x-www-form-urlencoded',
            success: function(obj) {
                $('#'+key+'').css("background-color", "white");
                var count = parseInt($("#notification_count").html());
                count -= 1;
                $("#notification_count").html(count);
                $("#notification_count_title").html('You have ' + count + ' unread message.');
                $('#'+key+'').prop('onclick',null).off('click');
            }
        });
    }

    function showNotifModal(key, additionalInfo) {
        if (key != null && key != 'null') {
            editSeenById(key);
        }
        if (additionalInfo != null && additionalInfo != 'null') {
            additionalInfo = additionalInfo.split(";");
            if (additionalInfo !== null) {
                var menu_id = additionalInfo[0];
                var data_id = additionalInfo[1];
                edit_data(data_id);
            }
        }
    }



    function edit_data(id) {
        showLoadingCss()
        $.ajax({
            url: baseUrl + "api_operator/pembayaran/edit_data",
            dataType: 'JSON',
            type: "GET",
            data: {
                pIdValas: id
            },
            success: function (res) {
                hideLoadingCss("")
                idValas = id
                $("#pTglJatuhTempo").val("");
                $("#pNilaiTagihan").val("");
                $("#pNoTagihan").val("");
                $("#pTglTagihan").val("");
                $("#pNoNotaDinas").val("");
                $("#pTglNotaDinas").val("");
                $('#pTglJatuhTempo').datepicker({dateFormat: 'dd/mm/yy', minDate: new Date()});
                $('#pTglTagihan').datepicker({dateFormat: 'dd/mm/yy'});
                $('#pTglNotaDinas').datepicker({dateFormat: 'dd/mm/yy'});

                tempVendor = res[0].ID_VENDOR;
                tempUnit = res[0].ID_UNIT;

                setSelectJenisPembayaran("pJenisPemabayaran", "", res[0].ID_JENIS_PEMBAYARAN);
                setSelectCurr("pCurrecny", "", res[0].CURRENCY, "REKAP");
                setSelectBank("pBankTujuan", "", "TUJUAN", res[0].KODE_BANK_TUJUAN, "REKAP");
                setSelectBank("pBankPembayar", "", "PEMBAYAR", res[0].KODE_BANK_PEMBAYAR, "REKAP");
                setSelectVendor("pVendor", res[0].ID_JENIS_PEMBAYARAN, res[0].ID_VENDOR);
                setSelectUnit("pUnitPenerima", res[0].ID_JENIS_PEMBAYARAN, res[0].ID_UNIT);

                $("#pTglJatuhTempo").val(res[0].TGL_JATUH_TEMPO);
                $("#pNilaiTagihan").val(res[0].TOTAL_TAGIHAN);
                $("#pNoTagihan").val(res[0].NO_TAGIHAN);
                $("#pTglTagihan").val(res[0].TGL_TAGIHAN);
                $("#pNoNotaDinas").val(res[0].NO_NOTDIN);
                $("#pTglNotaDinas").val(res[0].TGL_NOTDIN);
                $("#pKeterangan").val(res[0].DESKRIPSI);
                $("#pStatus").val(res[0].STATUS_VALAS);
                $("#pTipeTransaksi").val(res[0].TIPE_TRANSAKSI);
                $("#pTglTerimaInvoice").val(res[0].TGL_TERIMA_INVOICE);

                setTimeout(function () {
                    $("#pVendor").select2({
                        width: "100%"
                    });
                    $("#pUnitPenerima").select2({
                        width: "100%"
                    });
                    $('#edit-rekap-modal').modal({backdrop: 'static', keyboard: false});
                }, timeSowFormEdit);
                hideLoadingCss()

            },
            error: function () {
                hideLoadingCss("Gagal Melakukan Proses,Harap Hubungi Administrator")
            }
        });
    }

    /*]]>*/
</script>
<div th:replace="${view} :: scripts-backend"></div>
</html>
